{% if IsServicePage != true %}
<header class="section__header">  
  <h2 class="section__title heading h3">Our Services.</h2>
</header>
{% endif %}

<div class="quick-links quick-links-v2" data-service-page="{{ IsServicePage }}">
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://cdn.shopify.com/s/files/1/0541/7841/4790/t/3/assets/1.png" alt=""/>
      <h2>CPAP &amp; Sleep Therapy</h2>
      <a href="#" class="service-deeplink" data-section="cpap" data-target=".rest-easy" aria-label="CPAP">
        Learn more
      </a>
    </div>
  </div>
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://cdn.shopify.com/s/files/1/0541/7841/4790/t/3/assets/2.png" alt=""/>
      <h2>Professional Fittings <br> for Braces &amp; Supports</h2>
      <a href="#" class="service-deeplink" data-section="braces" data-target=".fitting-sect" aria-label="Professional Fittings">
        Learn more
      </a>
    </div>
  </div>
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://cdn.shopify.com/s/files/1/0541/7841/4790/t/3/assets/3.png" alt=""/>
      <h2>Home Services</h2>
      <a href="#" class="service-deeplink" data-section="home" data-target=".home-sect" aria-label="Home Services">
        Learn more
      </a>
    </div>
  </div>
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://cdn.shopify.com/s/files/1/0541/7841/4790/t/3/assets/4.png" alt=""/>

      <h2>Compression Services</h2>
      <a href="#" class="service-deeplink" data-section="compression" data-target=".comp-serv-sect" aria-label="Compression Services">
        Learn more
      </a>
    </div>
  </div>
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://cdn.shopify.com/s/files/1/0541/7841/4790/t/3/assets/5.png" alt=""/>
      <h2>Product Rentals</h2>
      <a href="#" class="service-deeplink" data-section="rentals" data-target=".recovery-sect" aria-label="Product Rentals">
        Learn more
      </a>
    </div>
  </div>
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://wellwise.s3.amazonaws.com/6.png" alt=""/>
      <h2>Online &amp; In-Store <br> Shipping Options</h2>
      <a href="#" class="service-deeplink" data-section="shipping" data-target=".order-terms-sect" aria-label="Online and In-Store shipping options">         	
        Learn more
      </a>
    </div>
  </div>
</div>