{% if IsServicePage != true %}
<header class="section__header">
  <h2 class="section__title heading h3">Nos services</h2>
</header>
{% endif %}

<div class="quick-links quick-links-v2" data-service-page="{{ IsServicePage }}">
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://cdn.shopify.com/s/files/1/0541/7841/4790/t/3/assets/1.png" alt=""/>
      <h2>CPAP et thérapie du sommeil</h2>
      <a href="#" class="service-deeplink" data-section="cpap" data-target=".rest-easy" aria-label="CPAP et thérapie du sommeil">
        En savoir plus
      </a>
    </div>
  </div>
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://cdn.shopify.com/s/files/1/0541/7841/4790/t/3/assets/2.png" alt=""/>
      <h2>Ajustements sur mesure des supports et appareils orthopédiques</h2>
      <a href="#" class="service-deeplink" data-section="braces" data-target=".fitting-sect" aria-label="Ajustements sur mesure des supports et appareils orthopédiques">
        En savoir plus
      </a>
    </div>
  </div>
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://cdn.shopify.com/s/files/1/0541/7841/4790/t/3/assets/3.png" alt=""/>
      <h2>Services à domicile</h2>
      <a href="#" class="service-deeplink" data-section="home" data-target=".home-sect" aria-label="Services à domicile">
        En savoir plus
      </a>
    </div>
  </div>
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://cdn.shopify.com/s/files/1/0541/7841/4790/t/3/assets/4.png" alt=""/>
      <h2>Services de compression</h2>
      <a href="#" class="service-deeplink" data-section="compression" data-target=".recovery-sect" aria-label="Services de compression">
        En savoir plus
      </a>
    </div>
  </div>
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://cdn.shopify.com/s/files/1/0541/7841/4790/t/3/assets/5.png" alt=""/>
      <h2>Locations de produits</h2>
      <a href="#" class="service-deeplink" data-section="rentals" data-target=".comp-serv-sect"  aria-label="Locations de produits">
        En savoir plus
      </a>
    </div>
  </div>
  <div class="quick-links__link">
    <div class="quick-links__image-container">
      <img src="https://wellwise.s3.amazonaws.com/6.png" alt=""/>
      <h2>En ligne et en magasin  Options d’expédition</h2>
      <a href="#" class="service-deeplink" data-section="shipping" data-target=".order-terms-sect" aria-label="En ligne et en magasin  Options d’expédition">           	
        En savoir plus
      </a>
    </div>
  </div>
</div>