<div class="sleep-aid-symp-sect">
  <div class="container category-page-section">
    <div class="fg">
      <div class="maxws">
        <h1 class="heading">
         N’attendez pas demain <br /> si vous éprouvez ces symptômes.
        </h1>
        <p class="copy">
          Si vous présentez l’un ou l’autre des symptômes ci-dessous*, vous souffrez peut-être d’apnée du sommeil, un trouble du sommeil qui touche près d’un milliard de personnes dans le monde. 
          <br /><br />
          Pour en savoir plus sur l’apnée du sommeil, cliquez ici. 
        </p>
        <a href="#" class="button button--primary">
        	En savoir plus sur l’apnée du sommeil 
        </a>
        
        <p class="heading source-label">
          Source:
        </p>
        <a href="https://www.mayoclinic.org/diseases-conditions/sleep-apnea/symptoms-causes/syc-20377631" class="source-link" target="_blank">
          https://www.mayoclinic.org/diseases-conditions/sleep-apnea/symptoms-causes/syc-20377631
        </a>
      </div>
      <div>
        <ul>
          <li>Fatigue, même après une nuit de sommeil complète</li>
          <li>Ronflements bruyants</li>
          <li>Arrêts respiratoires répétés pendant le sommeil</li>
          <li>Réveil soudain accompagné de suffocation ou de halètement</li>
          <li>Mal de gorge ou bouche sèche au réveil</li>
          <li>Maux de tête le matin</li>
          <li>Difficulté à se concentrer</li>
          <li>Mictions nocturnes fréquentes</li>
          <li>Perte de mémoire</li>
          <li>Transpiration nocturne</li>
          <li>Hypertension (pression artérielle élevée)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% style %}
.sleep-aid-symp-sect {
	background: #FFFFFF;
	padding: 85px 0 90px;
	margin: 80px auto 0;
}
.sleep-aid-symp-sect h1 {
	font-size: 55px;
	line-height: 1;
	margin-bottom: 20px;
}
.sleep-aid-symp-sect .copy {
	font-size: 22px;
	line-height: 1.2;
	color: #002D72;
}
.sleep-aid-symp-sect .source-label {
	font-size: 18px;
	line-height: 1;
	margin: 0 0;
}
.sleep-aid-symp-sect .fg {
	display: flex;
}
.sleep-aid-symp-sect .fg > div:nth-child(1) { width: 60%; }
.sleep-aid-symp-sect .fg > div:nth-child(2) { width: 40%; }
.sleep-aid-symp-sect .fg ul {
	list-style: none;
}
.sleep-aid-symp-sect .fg li {
	position: relative;
	font-family: 'VolteB';
	font-size: 22px;
	line-height: 1.2;
	color: #002D72;
	padding: 10px 0 12px 55px;
}
	.sleep-aid-symp-sect .fg li:before {
		content: ' ';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 34px;
		height: 34px;
		background: url('https://wellwise.s3.amazonaws.com/checkmark_icon.png') center center no-repeat;
		background-size: contain;
	}
.sleep-aid-symp-sect .fg .maxws {
	padding-right: 5%
}
  .sleep-aid-symp-sect .fg .maxws p {
      max-width: 760px;
	}
.sleep-aid-symp-sect .source-link {
	font-size: 15px;
	line-height: 1;
	color: #002D72;
}
.sleep-aid-symp-sect .button--primary {
	margin: 20px 0px 40px;
}
@media(max-width: 1024px) {
	.faq-module .faq-item__header:after {
		top: 40%;
	}
	.sleep-aid-symp-sect .button--primary {
		width: 100%;
		max-width: 100%;
	}
}
@media(max-width: 1200px) {
	.sleep-aid-symp-sect {
		padding: 60px 20px 45px;
	}
	.sleep-aid-symp-sect .fg {
		flex-direction: column;
	}
	.sleep-aid-symp-sect .fg > div:nth-child(1),
	.sleep-aid-symp-sect .fg > div:nth-child(2) {
		width: 100%;
	}
	.sleep-aid-symp-sect .fg > div:nth-child(2) {
		margin-top: 30px;
	}
	.sleep-aid-symp-sect .fg .maxws {
		padding-right: 0px;
	}
}
{% endstyle %}