<section class="section">
	<div class="container">
		{% render 'our-services-icons' %}
	</div>
</section>

{% schema %}
{
  "name": "Our Services Icons",
  "settings": [ ],
  "blocks": [],
  "presets": [
    {
      "category": "Advanced",
      "name": "Our Services Icons"
    }
  ]
}
{% endschema %}