<div class="service-banner">
  <div class="inner">
    <div>
      <h1 class="heading">
        Nous sommes à votre service.
      </h1>

      <p>
        Wellwise de ShoppersMC est bien plus qu’un simple magasin de détail : nous sommes les partenaires de votre bien-être. Des recommandations de produits aux consultations à domicile, notre équipe d’experts vous offre un vaste éventail de services conçus pour vous aider, vous et votre famille, à vivre mieux au quotidien. 
		<br />
		<br />
		Lisez ce qui suit pour en savoir plus sur ce que nous offrons ou communiquez avec le magasin le plus proche de chez vous dès aujourd’hui.
      </p>

      <a href="/pages/store-locator" class="button find-store">
        Trouver un magasin 
      </a>
    </div>
    <div></div>
  </div>
</div>

<div class="container services-page">
	{% render 'our-services-icons', IsServicePage: true %}
</div>

<div class="container-wide rest-easy">
  <div>
    <h2>Nous sommes là pour vous aider à rester serein.</h2>
    <h3>Services de CPAP et de thérapie du sommeil.</h3>
  </div>
</div>

<div class="container services-page easy-steps ">
  <p class="maxot">
	Nous avons les produits et les services qui vous aideront à mieux dormir. Prenez rendez-vous dès aujourd’hui pour une consultation en magasin sur la CPAP et le traitement de l’apnée du sommeil. L’un de nos conseillers en sommeil hautement qualifié se fera un plaisir de vous offrir des conseils personnalisés pour vous aider à mieux dormir la nuit.
  </p>
  
  <div class="side-by-side">
    <div>
      <h2>
        Cinq étapes faciles.
      </h2>
      <p class="during-max">
        Pendant et après votre consultation en magasin, notre équipe d’infirmières autorisées, d’inhalothérapeutes agréés et de technologues en polysomnographie agréés :
      </p>
      
      <ul>
        <li>
        	Exécute votre ordonnance.
        </li>
        <li>
        	Vous recommande des produits en fonction de vos besoins.
        </li>
        <li>
        	Vous apprend à utiliser votre nouvel équipement.
        </li>
        <li>
        	Vous explique comment nettoyer et entretenir votre équipement.
        </li>
        <li>
        	Surveille les résultats et communique avec votre médecin au besoin.
        </li>
      </ul>
    </div>
    <div class="img-side">
      <img src="https://wellwise.s3.amazonaws.com/services_1.png" alt=""/>
    </div>
  </div>
  <p class="section-disclaimer heading">
    Appelez le magasin le plus proche de chez vous dès aujourd’hui pour prendre votre premier rendez-vous et notre aimable personnel se fera un plaisir de planifier vos futures visites de suivi ou d’entretien.
  </p>
  
  <div class="easy-button-group">
    <a href="/pages/store-locator" class="button button--primary">Trouver un magasin</a>
    <a href="/collections/sleep-aids" class="button button--primary">Magasiner la catégorie CPAP et thérapie du sommeil</a>
  </div>
</div>

<div class="container-wide rest-easy fitting-sect">
  <div>
    <h2>Trouver le bon ajustement.</h2>
    <h3>Ajustements sur mesure des supports et appareils orthopédiques.</h3>
  </div>
</div>

<div class="container services-page easy-steps ">
  <p class="maxot">
    Si vous souhaitez faire ajuster sur mesure vos supports et appareils orthopédiques, nous avons le personnel et l’expertise nécessaires pour que votre équipement remplisse sa fonction. Appelez-nous dès aujourd’hui pour organiser l’exécution de votre ordonnance et prendre rendez-vous pour une consultation en magasin.
  </p>
  
  <div class="side-by-side">
    <div>
      <h2>
        Préparation en vue de l’ajustement sur mesure.
      </h2>
      <p class="during-max">
      	Assurez-vous de faire ce qui suit en vue de votre rendez-vous d’ajustement :
      </p>
      
      <ul class="checkmarks">
        <li>
          	Apportez votre ordonnance indiquant le niveau de compression, la longueur du vêtement et le diagnostic.
        </li>
        <li>
          	Portez un pantalon ample, un legging ou une jupe pour nous permettre de prendre les mesures correctement.
        </li>
        <li>
          	Couvrez les plaies ouvertes ou non couvertes avec un pansement.
        </li>
        <li>
            Portez un masque tout au long de la visite, conformément aux lignes directrices sur la COVID-19.
        </li>
      </ul>
      
  
      <div class="easy-button-group" style="margin-top: 35px;">
        <a href="/pages/store-locator" class="button button--primary">Trouver un magasin</a>
        <a href="/collections/braces-supports" class="button button--primary">Explorer les produits de la catégorie Supports et appareils orthopédiques</a>
      </div>
    </div>
    <div class="img-side">
      <img src="https://wellwise.s3.amazonaws.com/services_2.png" alt=""/>
    </div>
  </div>
</div>

<div class="container-wide rest-easy home-sect">
  <div>
    <h2>Restez libre chez vous.</h2>
    <h3>Services à domicile.</h3>
  </div>
</div>

<div class="container services-page home-service">
  <p>
    Nous sommes là pour vous aider, vous et vos proches, à vous sentir sûr de vous et en sécurité chez vous. Des évaluations à domicile aux suivis après-vente programmés en passant par les recommandations de produits, nous pouvons vous aider à rester chez vous dans le logement que vous aimez.
  </p>
  
  <p class="heading">
    Remarque : À l’heure actuelle, ces services ne sont offerts qu’en Ontario.
  </p>
  
  <a href="/pages/home-services-request" class="button button--primary">
    Contacter les services à domicile
  </a>
</div>

<div class="container-wide types-services-grid">
  <div>
    <img src="https://wellwise.s3.amazonaws.com/home-services/1.png" alt=""/>
    <p>Des évaluations du logement et des consultations en conception effectuées par des conseillers en conception certifiés CAPS (spécialiste certifié pour le maintien à domicile des personnes âgées).</p>
  </div>
  <div>
    <img src="https://wellwise.s3.amazonaws.com/home-services/2.png" alt=""/>
    <p>Des entrepreneurs cautionnés et agréés réputés qui s’engagent à fournir des prestations de qualité, du début à la fin.</p>
  </div>
  <div>
    <img src="https://wellwise.s3.amazonaws.com/home-services/3.png" alt=""/>
    <p>Des suivis après-vente programmés et des services d’entretien préventif.</p>
  </div>
  <div>
    <img src="https://wellwise.s3.amazonaws.com/home-services/4.png" alt=""/>
    <p>Des produits et services conformes aux normes de santé et de sécurité.</p>
  </div>
  <div>
    <img src="https://wellwise.s3.amazonaws.com/home-services/5.png" alt=""/>
    <p>La certification de l’équipement (essais de chargement en poids et retenue par des barrières de lit).</p>
  </div>
</div>

{% comment %}
<div class="types-home-mod">
  <div class="container tab-container">
    <h2 class="heading">
      Types de modifications du logement.
    </h2>
    <div class="select-region-tabs">
      <div data-collection="daily-living">
        Salle de bains sécuritaire 
      </div>
      <div data-collection="canes-subcategory">
        Confort à domicile
      </div>
      <div  data-collection="covid-19-products">
        Entrée principale
      </div>
      <div  data-collection="cpap">
        Ascenseurs et systèmes de levage
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="select-region-tab-body"></div>
  </div>
</div>
{% endcomment %}

<div class="container-wide rest-easy recovery-sect">
  <div>
    <h2>Nous sommes là pour favoriser votre rétablissement.</h2>
    <h3>EquipmentLocations d’équipement.</h3>
  </div>
</div>

<div class="container services-page av-products-sect">
  <p class="maxot">
    Si vous subissez une intervention chirurgicale ou si les membres de votre famille qui viennent vous voir ont besoin d’une aide physique, l’achat d’un équipement coûteux devrait être le cadet de vos soucis. Nous offrons une vaste gamme de produits en location pour vous aider uniquement lorsque vous en avez besoin.
	<br />
    <br />
	Notre programme de location est soumis à un cycle de 28 jours et est facturé automatiquement toutes les quatre semaines. Tous les produits de location sont nettoyés et stérilisés avant d’être remis en circulation.
  </p>
  
  <h2 class="heading">
    Produits disponibles :
  </h2>
  
  <div class="av-prod-grid">
    <div>
      <h3 class="heading">
        Aides à la mobilité
      </h3>
      <p>
        (déambulateurs, appareils de marche Rollator, scooters, cannes, fauteuils de transport, rampes amovibles et portatives)
      </p>
    </div>
    <div>
      <h3 class="heading">
        Produits de sécurité pour la salle de bains
      </h3>
      <p>
        (barres d’appui, fauteuils de transfert et plus encore)
      </p>
    </div>
    <div>
      <h3 class="heading">
        Lits d’hôpital
      </h3>
    </div>
    <div>
      <h3 class="heading">
        Fauteuils releveurs
      </h3>
    </div>
    <div>
      <h3 class="heading">
        Béquilles
      </h3>
    </div>
    <div>
      <h3 class="heading">
        Barrières de lit
      </h3>
    </div>
    <div>
      <h3 class="heading">
        Tire-lait électriques
      </h3>
    </div>
  </div>
  
  <a href="/pages/store-locator" class="button button--primary">Trouver un magasin </a>
</div>

<div class="container-wide rest-easy comp-serv-sect">
  <div>
    <h2>Pour vous sentir mieux de la tête aux pieds.</h2>
    <h3>Services de compression.</h3>
  </div>
</div>

<div class="container services-page easy-steps comp-steps">
  <p class="maxot">
  	Les produits de compression ne se limitent pas à améliorer la circulation. Ils peuvent aussi vous aider à faire des exercices chez vous, faciliter votre rétablissement et réduire l’inflammation et les douleurs causées par une position assise prolongée pendant vos longues heures de travail.
	<br />
    <br />
	Nos conseillers en magasin se feront un vrai plaisir de vous aider à trouver le modèle adapté à votre situation. Venez nous voir dès aujourd’hui pour découvrir un vaste éventail de produits :
  </p>
  
  <div class="side-by-side">
    <div>
      <ul class="checkmarks">
        <li>
          	Vêtements et sous-vêtements de compression
        </li>
        <li>
          Chaussettes pour diabétiques
        </li>
        <li>
          Produits pour les soins des pieds
        </li>
        <li>
          Chaussures
        </li>
        <li>
          Et plus encore
        </li>
      </ul>
  
      <div class="easy-button-group" style="margin-top: 35px;">
        <a href="/pages/store-locator" class="button button--primary">Trouver un magasin</a>
        <a href="/collections/compression" class="button button--primary" target="_blank">Magasiner maintenant</a>
      </div>
    </div>
    <div class="img-side">
      <img src="https://wellwise.s3.amazonaws.com/services_3.png" alt=""/>
      <div class="img-caption">
        <h3 class="heading">
          Vous devez exécuter une ordonnance de produits de compression?
        </h3>
        <p>
          Nos conseillers en magasin peuvent exécuter votre ordonnance de produits de compression de qualité supérieure et vous donner des conseils sur leur utilisation et leur entretien.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-wide rest-easy order-terms-sect">
  <div>
    <h2>Commandez à vos conditions.</h2>
    <h3>Options d’expédition en ligne et en magasin.</h3>
  </div>
</div>

<div class="container services-page">
  <div class="order-terms-group">
    <div>
      <p>
        Que vous achetiez en magasin pour faire livrer vos articles directement à votre domicile ou que vous commandiez en ligne et souhaitiez faire des économies, nous offrons différentes options d’expédition en fonction de vos besoins.
		<br />
        <br />
		Pour vous simplifier la vie, les commandes ou livraisons d’articles volumineux exigeant une signature sont toutes gérées par notre système de livraison interne. Communiquez avec le magasin le plus proche de chez vous pour en savoir plus sur nos options d’expédition.
      </p>
      <a href="/collections/home" class="button button--primary">
        Magasiner maintenant
      </a>
    </div>
    <div>
      <div class="special-blue">
        <h3 class="heading">
          Vous cherchez quelque chose de spécial?
        </h3>
        <p>
          Si vous cherchez des produits bien précis adaptés à vos besoins uniques, nous sommes heureux d’honorer les commandes spéciales. Communiquez avec nous dès aujourd’hui pour découvrir comment nous pouvons vous aider.
        </p>
        <a href="/pages/store-locator" class="button button--primary">
          Trouver un magasin
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Services",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
.services-page h1,
.services-page h2,
.services-page h3,
.services-page p,
.services-page span {
	color: #002D72;
}
.quick-links__link {
	padding: 30px 24px;
}
.quick-links__link h2 {
	font-family: "VolteB";
	font-size: 30px;
	line-height: 30px;
	margin: 30px auto 0;
}
.quick-links__link a {
	display: block;
	margin-top: 30px;
	color: #307FE2;
  	font-size: 20px;
  	line-height: 20px;
}
.rest-easy {
	background: #002D72;
    padding: 50px 10px;
    margin: 120px auto 70px;
}
.rest-easy > div {
	position: relative;
	max-width: 1520px;
	margin: 0px auto;
	padding-left: 130px;
}
	.rest-easy > div:before {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 90px;
      height: 70px;
      background: url('https://wellwise.s3.amazonaws.com/pillow-icon-white.png') center center no-repeat;
      background-size: contain;
	}
	.rest-easy.fitting-sect > div:before {
		background: url('https://wellwise.s3.amazonaws.com/fittings-icon-white.png') center center no-repeat;
      	background-size: contain;
	}
	.rest-easy.home-sect > div:before {
		background: url('https://wellwise.s3.amazonaws.com/homeservices-icon-white.png') center center no-repeat;
      	background-size: contain;
	}
	.rest-easy.recovery-sect > div:before {
		background: url('https://wellwise.s3.amazonaws.com/productrentals_icon_white.png') center center no-repeat;
      	background-size: contain;
	}
	.rest-easy.comp-serv-sect > div:before {
		background: url('https://wellwise.s3.amazonaws.com/compression_icon_white.png') center center no-repeat;
      	background-size: contain;
	}
	.rest-easy.order-terms-sect > div:before {
		background: url('https://wellwise.s3.amazonaws.com/shippingoptions_icon_white.png') center center no-repeat;
      	background-size: contain;
	}
.rest-easy h2,
.rest-easy h3 {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	font-family: "VolteB";
	margin: 0px;
}
.rest-easy h3 {
	font-size: 35px;
	line-height: 35px;
	margin-top: 10px;
}
.maxot {
	max-width: 1000px;
}
.easy-steps {
	margin-bottom: 80px;
}
.easy-steps h2 {
	font-family: 'VolteB';
  font-size: 30px;
  line-height: 30px;
	margin: 25px 0 10px;
}
.easy-steps ul {
	list-style: none;
	margin: 30px 0 0;
}

.easy-steps li {
	position: relative;
	color: #002D72;
	font-size: 20px;
	line-height: 1.2;
	font-family: "VolteB";
	padding: 20px 15px 20px 60px;
}
	.easy-steps li:before {
      content: '1';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 45px;
      height: 45px;
	color: #307FE2;
		border-radius: 50%;
		border: 4px solid #307FE2;
		padding: 10px 14px;
	}
.easy-steps .during-max { max-width: 95%; }
.easy-steps li:nth-child(2):before { content: '2'; }
.easy-steps li:nth-child(3):before { content: '3'; }
.easy-steps li:nth-child(4):before { content: '4'; }
.easy-steps li:nth-child(5):before { content: '5'; }

.easy-steps ul.checkmarks li:before {
	top: 40%;
    width: 31px;
    height: 31px;
	content: ' ';
	border-radius: 0;
	border: none;
	background: url('https://wellwise.s3.amazonaws.com/checkmark_icon.png') center center no-repeat;
    background-size: contain;
}
.easy-steps.comp-steps ul.checkmarks li:before { top: 50%; }

.easy-steps .side-by-side {
	display: flex;
}
.easy-steps .side-by-side > div {
	width: 50%;
}
.easy-steps .img-side {
	width: 50%;
}
.easy-steps.comp-steps .img-side {
	border: 1px solid #B9B9B9;
}

.easy-steps .img-side img {
	width: 100%;
}
.img-caption {
	background: #C3D7EE;
	padding: 20px;
}
.img-caption h3 {
	margin-top: 0;
  font-size: 24px;
  line-height: 24px;
}
.img-caption p {
	margin-top: 0;
  font-size: 20px;
  line-height: 1.2;
}
.easy-steps .section-disclaimer {
	font-size: 18x;
	line-height: 20px;
	margin: 40px 0 45px;
}
.easy-steps .easy-button-group > a {
	display: block;
    max-width: 380px;
    margin-bottom: 15px;
	font-family: 'VolteB';
  font-size: 20px;
}

.service-banner {
	margin-bottom: 90px;
	background-color: #002D72;
	background: url('https://wellwise.s3.amazonaws.com/service_banner.png') center center no-repeat;

}
.service-banner .inner {
	max-width: 1520px;
	margin: 0px auto;
}
.service-banner .inner {
	display: flex;
}
.service-banner .inner > div { 
	width: 100%;
}
.service-banner .inner > div:first-child {
	padding: 70px 0px 120px;
}
.service-banner h1,
.service-banner p,
.service-banner a {
	color: #fff;
}
.service-banner h1 {
  font-size: 64px;
  line-height: 64px;
margin-bottom: 15px;
}
.service-banner p {
	font-size: 22px;
  	line-height: 25px;
}
.service-banner .find-store {
  background: #fff;
  color: #002D72;
  border: 1px solid #fff;
	font-family: "VolteB";
	margin-top: 35px;
	display: block;
	max-width: 380px;
	font-size: 20px;
}
.types-services-grid {
	display: flex;
	background: #fff;
	margin: 70px 0 70px; 
}
.types-services-grid > div {
  width: 100%;
  border: 1px solid #B9B9B9;
	text-align: center;
	padding: 40px 0px 45px;
}
.types-services-grid > div img {
  display: block;
  margin: 0px auto 25px;
}
.types-services-grid p {
  max-width: 234px;
  margin: 0px auto;
  display: block;
  font-size: 20px;
  line-height: 25px;
  color: #002D72;
}
.av-products-sect h2 {
  font-size: 30px;
	line-height: 30px;
	margin: 70px 0 5px;
}
.av-prod-grid {
	display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background: #fff;
	margin: 20px 0 40px;
}
.av-prod-grid > div {
    grid-column: span 3;
	border: 1px solid #D8D8D8;
	padding: 35px 10px 0px;
	text-align: center;
}
.av-prod-grid > div:nth-child(1),
.av-prod-grid > div:nth-child(2),
.av-prod-grid > div:nth-child(3) {
    grid-column: span 4;
}
.av-prod-grid .heading {
	position: relative;
  padding-left: 50px;
  display: inline-block;
}
.av-prod-grid .heading:before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
    width: 31px;
    height: 31px;
	content: ' ';
	border-radius: 0;
	border: none;
	background: url('https://wellwise.s3.amazonaws.com/checkmark_icon.png') center center no-repeat;
    background-size: contain;
}

.av-prod-grid h3 {
  font-size: 24px;
  line-height: 24px;
}
.av-prod-grid p {
  font-size: 18px;
  line-height: 18px;
	max-width: 420px;
	margin: 0px auto;
}
.order-terms-group {
	display: flex;
    justify-content: space-between;
	margin: -20px 0 80px;
}
.order-terms-group > div {
	width: 100%;
	position: relative;
  max-width: 770px;
  padding: 40px 20px;
}
.order-terms-group > div:first-child {
	max-width: 700px;
}
.order-terms-group .special-blue {
	background: #C3D7EE;
  padding: 40px 40px;
}
.order-terms-group h3 {
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 10px;
}
.order-terms-group p {
  font-size: 20px;
	line-height: 1.2;
	margin-bottom: 20px;
}
.services-page p {
	font-size: 20px;
	line-height: 1.2;
}
.types-home-mod .heading {
	font-size: 30px;
	line-height: 1;
	margin-bottom: 30px;
}

@media(max-width: 768px) {
	.service-banner {
		margin-bottom: 60px;
		background: #002D72;
	}
	.service-banner .inner {
		flex-direction: column;
	}
	.service-banner .inner > div {
		width: 100%;
	}
	.service-banner .inner {
		max-width: calc(100% - 50px);
		margin: 0px auto;
	}
    .service-banner .inner > div:first-child {
        padding: 50px 0px 100px;
    }
	.service-banner h1 {
		font-size: 36px;
		line-height: 1.2;
	}
    .service-banner p {
        font-size: 18px;
        line-height: 1.2;
    }
	.rest-easy > div {
		padding: 100px 20px 10px;
	}
  	.rest-easy > div:before {
		top: 35px;
    	left: 15px;
	}
	.easy-steps .side-by-side {
		flex-direction: column-reverse;
	}
	.easy-steps .side-by-side > div {
		width: 100%;
	}
	.types-services-grid,
	.order-terms-group {
		flex-direction: column;
		width: 100%;
	}
	.order-terms-group,
	.types-services-grid > div {
		width: 100%;
	}
	.av-prod-grid {
		display: block;
		padding-bottom: 10px;
	}
		.av-prod-grid > div {
			padding: 35px 8%;
		}
}
@media (max-width: 768px) {
	.select-region-tab-body .ptitle {
		text-align: center;
		margin: 25px auto 20px;
		max-width: 90%;
	}
}
@media(min-width: 768px) and (max-width: 1580px) {
	.service-banner {
		padding: 0px 25px;
	}
		.types-services-grid > div {
			padding: 40px 20px 45px;
		}
		.service-banner .inner > div:first-child {
			padding-top: 40px;
		}
}

/*GLOBAL*/
.button.button--primary {
  font-family: 'VolteB';
	font-size: 20px;
    max-width: 380px;
    width: 100%;
}
{% endstylesheet %}


{% style %}
@media(max-width: 768px) {
	.select-region-tabs > div:nth-child(3) { border-bottom-left-radius: 10px; }
	.select-region-tabs > div:nth-child(4) { border-bottom-right-radius: 10px; }
	.select-region-tabs > div:nth-child(3),
	.select-region-tabs > div:nth-child(4) {
		border-bottom: 2px solid #D8D8D8 !important;
	}
}
{% endstyle %}

{% javascript %}
  $(document).ready(function() {
	$(".select-region-tabs > div:first-child").trigger("click");
    
	const url = window.location.href.toLowerCase();
    
    if(url.indexOf('dl=cpap') > -1) {
      $('.service-deeplink[data-target=".rest-easy"]').trigger('click');
    }
    if(url.indexOf('dl=braces') > -1) {
      $('.service-deeplink[data-target=".fitting-sect"]').trigger('click');
    }
    if(url.indexOf('dl=home') > -1) {
      $('.service-deeplink[data-target=".home-sect"]').trigger('click');
    }
    if(url.indexOf('dl=compression') > -1) {
      $('.service-deeplink[data-target=".comp-serv-sect"]').trigger('click');
    }
    if(url.indexOf('dl=rentals') > -1) {
      $('.service-deeplink[data-target=".recovery-sect"]').trigger('click');
    }
    if(url.indexOf('dl=shipping') > -1) {
      $('.service-deeplink[data-target=".order-terms-sect"]').trigger('click');
    }
  });
{% endjavascript %}