<div class="funding-wrapper">
  <div class="container container--takeover-custom">
    <header class="page__header">
      <h1 class="page__title heading h1">{{ page.title }}</h1>
    </header>
  </div>

  <div class="container eqp-rental">
    <p>
      At Wellwise, we want to help make living an active and independent life easier. The following is a list of organizations that can help provide you with financial support when purchasing assistive devices, mobility devices or home modifications. To determine the eligibility of you or a loved one, talk to us at Wellwise or contact a representative from the list below.
    </p>
    <p>
      If your needs are short-term, you may be interested in our <a href="/pages/services?dl=rentals">Rental Program</a>.
    </p>
  </div>
   
  <div class="container select-region-sect">
    <h2 class="heading">
      Select your Region.
    </h2>
    
    <div class="select-region-tabs">
      <div class="active">
        National
      </div>
      <div>
        Ontario
      </div>
      <div>
        Alberta
      </div>
      <div>
        New Brunswick
      </div>
    </div>
    
    <div class="select-region-tabs_body">
      <div data-type="national" style="display: block;">
    <div class="item-header">
        <h3 class="heading">Canadian Diabetes Association (CDA)</h3>
        <p class="phone-ic"><a href="tel:1-800-BANTING">1-800-BANTING</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />CDA&rsquo;s mission is &ldquo;to lead the fight against diabetes by
                helping
                people with diabetes live healthy lives while working to find a cure&rdquo; Provides assistance to
                arrange
                funding for diabetic supplies (i.e. Blood testing devices).</p>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong><br />CDA provides assistance to arrange funding and therefore each
                funding
                organization has different eligibility criteria.</p>
        </div>
        <a href="http://www.diabetes.ca" target="_blank" class="button button--primary">View website</a>
    </div>

    <div class="item-header">
        <h3 class="heading">Canadian Hearing Society</h3>
        <p class="phone-ic"><a href="tel:1-877-347-3427">1-877-347-3427</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />A charitable agency and the leading provider of services, products, and
                information that remove barriers to communication, advance hearing health, and promote equity for people
                who
                are culturally Deaf, oral deaf, deafened and hard of hearing.</p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
            </ul>
        </div>
        <a href="http://www.chs.ca" target="_blank" class="button button--primary">View website</a>
    </div>

    <div class="item-header">
        <h3 class="heading">Central Association Of Kinsmen Clubs/Kin Canada/Association Of Kinsmen, Kinette And Kin
            Clubs</h3>
        <p class="phone-ic"><a href="tel:1-800-742-5546">1-800-742-5546</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />Service club organizations that work to better their communities, enhance
                the
                well-being of Canadians and improve the environment.</p>
            <ul>
                <li>Home modifications</li>
                <li>Assistive Devices</li>
                <li>Mobility Devices</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong><br />Some assistance may be available to club members.</p>
        </div>
        <a href="http://www.kincanada.ca" target="_blank" class="button button--primary">View website</a>
      <p class="item-body-steps"><strong>Next Steps<span>&nbsp;</span></strong><br />If you are a member of a Kinsmen
            Club, contact your
            club
            for more information.</p>
    </div>

    <div class="item-header">
        <h3 class="heading">Home Adaptations For Seniors’ Independence (HASI) (Canadian Mortgage & Housing Corporation –
            CMHC)</h3>
        <p class="phone-ic"><a href="tel:1-800-704-6488">1-800-704-6488</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />This program helps First Nations and First Nation members pay for minor
                home
                adaptations to on- reserve properties to extend the time low- income seniors can live in their own homes
                independently</p>
            <ul>
                <li>Home modifications (bathroom modifications including installing a main floor washroom.)</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong><br />First Nations and First Nation members living on-reserve may
                qualify
                for assistance as long as the occupant of the dwelling where the adaptations will be made meets the
                following eligibility criteria:</p>
            <ul>
                <li>65 and over</li>
                <li>Has difficulty with daily living activities brought on by ageing</li>
                <li>Total household income is at or below a specified limit for your area</li>
                <li>Dwelling unit is a permanent residence.</li>
            </ul>
        </div>

        <a href="http://www.cmhc-schl.gc.ca/en/ab/onre/onre_006.cfm" target="_blank" class="button button--primary">View
            website</a>

        <p class="item-body-steps"><strong>Next Steps&nbsp;<br /></strong><span>Client or family must complete a
                telephone screen interview to
                assess funding assistance.&nbsp;</span></p>
    </div>

    <div class="item-header">
        <h3 class="heading">International Association Of Lions Clubs</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />Service club organization that may provide financial assistance for home
                modifications or assistive devices.</p>
            <ul>
                <li>Home modifications</li>
                <li>Assistive Devices</li>
                <li>Mobility Devices</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility<span>&nbsp;</span><br /></strong><span>Some assistance may be available to club
                    members.</span></p>
        </div>
        <a href="http://www.lionsclubs.org" target="_blank" class="button button--primary">View website</a>

        <p class="item-body-steps"><strong>Next Steps<br /></strong>If you are a member of a Lions Club, contact your
            club for more information. </p>
    </div>

    <div class="item-header">
        <h3 class="heading">Kiwanis Club</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />Global organization of clubs dedicated to helping children and communities
                based on the community&rsquo;s needs.</p>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility<br /></strong>Some assistance may be available to club members.</p>

        </div>

        <a href="http://www.kiwanis.org" target="_blank" class="button button--primary">View website</a>

        <p class="item-body-steps"><strong>Next Steps<span>&nbsp;</span></strong><br />If you are a member of a Kiwanis
            Club,
            contact your club
            for more information.</p>
    </div>


    <div class="item-header">
        <h3 class="heading">Knights of Columbus</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />Club formed to render financial aid to members and their families. Mutual
                aid
                and assistance are offered to sick, disabled and needy members and their families.</p>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility<br /></strong>Some assistance may be available to club members.</p>
        </div>

        <a href="http://www.kofc.org/en//index.html" target="_blank" class="button button--primary">View website</a>

        <p class="item-body-steps"><strong>Next Steps</strong><br />If you are a member of the Knights of Columbus,
            contact your club for more
            information.</p>
    </div>

    <div class="item-header">
        <h3 class="heading">Muscular Dystrophe Canada</h3>
        <p class="phone-ic"><a href="tel:1-866-MUS-CLE8">1-866-MUS-CLE8</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />Organization dedicated to raising awareness and educating people about
                neuromuscular disease. Loan pool and may provide assistance with funding for equipment for those with
                MD.
            </p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
                <li>Home modifications</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong></p>
            <ul>
                <li>Maximum contribution per item: $2,640</li>
                <li>Client minimum contribution: $200.00 - Equipment costing less than $200 is not eligible - You must
                    be a
                    registered client of Muscular Dystrophy Canada.</li>
                <li>Muscular Dystrophy Canada will not issue reimbursements. Be sure to complete the application process
                    and
                    receive approval from our office, prior to purchasing the item.</li>
            </ul>
        </div>

        <a href="http://www.muscle.ca" target="_blank" class="button button--primary">View website</a>

        <div class="item-body-steps">
            <p><strong>Next Steps</strong><br />Funding requests must include:</p>
            <ul>
                <li>A completed <span>&nbsp;</span><a
                        href="http://muscle.ca/wp-content/uploads/2012/11/EquipmentProgramApp_On_Nunavut.pdf"
                        target="_blank" rel="noopener">Muscular Dystrophe Canada Application Form</a></li>
                <li>Quotes from 2 different equipment vendors</li>
                <li>A signed equipment prescription from the appropriate licensed health care professional such as: an
                    occupational therapist, physiotherapist, respiratory therapist, orthotist, physiatrist or
                    podiatrist.
                </li>
            </ul>
        </div>
    </div>

    <div class="item-header">
        <h3 class="heading">Multiple Sclerosis Society of Canada</h3>
        <p class="phone-ic"><a href="tel:1‑800‑268‑7582">1‑800‑268‑7582</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />Provides services to people with multiple sclerosis and their families and
                funds research to find the cause and cure for this disease.</p>
            <p>Loan pool and may provide assistance with funding for equipment for those with MS.</p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
                <li>Home modifications</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong><br />Funding eligibility varies from province to province - check the
                website for more information.</p>
        </div>
        <a href="http://www.mssociety.ca/" target="_blank" class="button button--primary">View website</a>
    </div>

    <div class="item-header">
        <h3 class="heading">Opportunities For The Disabled Foundation</h3>
        <p class="phone-ic"><a href="tel:1-877-856-3833">1-877-856-3833</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />Canadian based registered charitable non-profit organization that&rsquo;s
                mandate is to "help people with physical disabilities to live more fulfilling and independent lives.</p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility<br /></strong>The Medical Equipment Recycling Program is open to all physically
                challenged persons, and organizations that serve them, but is specifically designed to benefit the lower
                income socially marginalized person(s), who would not be able to purchase the said equipment on their
                own.
            </p>
        </div>
        <a href="http://www.oftdf.org/" target="_blank" class="button button--primary">View website</a>
        <p class="item-body-steps"><strong>Next Steps</strong><br /><a
                href="http://www.oftdf.org/images/oftdgpp14opt.pdf" target="_blank" rel="noopener">Opportunities For The
                Disabled Foundation Application Form</a></p>
    </div>

    <div class="item-header">
        <h3 class="heading">President's Choice</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />Presidents Choice Children&rsquo;s Charity receive applications from
                families
                whose children have been diagnosed with a range of disabilities including cerebral palsy, autism,
                muscular
                dystrophy, spina bifida and various developmental delays ($20,000).</p>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong></p>
            <ul>
                <li>Medical diagnosis of disability</li>
                <li>Household gross income less than $70,000</li>
                <li>For more eligibility criteria/information needed with application see the application form</li>
            </ul>
        </div>

        <a href="http://www.presidentschoice.ca/en_CA/community/pccc.html" target="_blank"
            class="button button--primary">View website</a>

        <p class="item-body-steps"><strong>Next Steps</strong><br /><a
                href="http://www.presidentschoice.ca/content/dam/lclonline/PCCC/PCCC_Guidelines_Application_FA_E.pdf"
                target="_blank" rel="noopener">President's Choice Application Form</a></p>
    </div>

    <div class="item-header">
        <h3 class="heading">Residential Rehabilitation Assistance Program For Persons With Disabilities (RRAP-D)
            (Canadian Mortgage & Housing Corporation – C)</h3>
        <p class="phone-ic"><a href="tel:1-800-704-6488">1-800-704-6488</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />Offers financial assistance to First Nations and First Nation members to
                undertake accessibility work to modify dwellings occupied or intended for occupancy by low- income
                persons
                with disabilities.</p>
            <p>Five-year forgivable loan (Maximum $15 000 lifetime). Funds are for minor renovations such as installing
                hand
                rails, grab bars, extra lighting, etc. Home value must be less than $400 000 and household income must
                be
                less than $55 000.</p>
            <ul>
                <li>Home modifications</li>
            </ul>
        </div>

        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong><br />First Nations or individual First Nation members that require
                repairs
                to their homes may be eligible to apply. The total household income must be at or below the established
                income threshold for their area and the property must meet minimum health and safety standards.</p>
            <p><strong>Next Steps<br /></strong>Client or family must complete a telephone screen interview to access
                funding assistance.</p>
        </div>
        <a href="http://www.cmhc-schl.gc.ca/en/ab/hoprfias/hoprfias_011.cfm" target="_blank"
            class="button button--primary">View website</a>
    </div>

    <div class="item-header">
        <h3 class="heading">Rotary Clubs/Rotary International</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />Together, Rotary clubs, Rotary International, and The Rotary Foundation
                work
                to make lasting improvements in our communities and around the world.</p>
            <ul>
                <li>Home modifications</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility<br /></strong>Some assistance may be available to club
                members.<strong><br /></strong></p>
        </div>
        <a href="http://www.rotary.org" target="_blank" class="button button--primary">View website</a>
        <p class="item-body-steps"><strong>Next Steps<span>&nbsp;</span></strong><br /><span>If you are a member of a
                Rotary Club, contact your
                club for more information.</span></p>
    </div>

    <div class="item-header">
        <h3 class="heading">Veterans Affairs Canada</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />Department within the government of Canada with responsibility for
                pensions/benefits and services for war veterans, retired and still-serving members of the Canadian
                Forces
                and Royal Canadian Mounted Police, their families, as well as some civilians.</p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
                <li>Home modifications</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong></p>
            <ul>
                <li>Should be approved for funding on the basis of a recommendation by a health professional approved by
                    Veterans Affairs Canada or, in the case of a Rehabilitation client, a recommendation by a qualified
                    individual deemed appropriate by the Department.</li>
                <li>Special equipment may not be authorized merely for convenience or as a lifestyle choice</li>
                <li>The Department should be satisfied that the special equipment is the most appropriate response to
                    the
                    health-related needs of the client</li>
                <li>Simpler, less costly equipment should be considered before more complex and costlier equipment.</li>
            </ul>
        </div>
        <a href="http://www.veterans.gc.ca/eng" target="_blank" class="button button--primary">View website</a>
    </div>

    <div class="item-header">
        <h3 class="heading">War Amputations of Canada</h3>
        <p class="phone-ic"><a href="tel:1-877-622-2472">1-877-622-2472</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br />The War Amps is a Canadian nation-wide registered charitable organization
                operated under the direction of war amputees.</p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibiliy</strong><br />Children with amputations may be eligible for financial assistance
                for
                prosthetic limbs, recreational limbs and travel to prosthetic centres.</p>
        </div>
        <a href="http://www.waramps.ca/home.html" target="_blank" class="button button--primary">View website</a>
    </div>


</div>

<div data-type="ontario">
    <div class="item-header">
        <h3 class="heading">Assistive Devices Program (ADP)</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />Government program that provides support
                and funding to Ontario residents who have long-term physical
                disabilities. Provides access to assistive devices that meet
                individuals&rsquo; basic needs.
            </p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility</strong><br /><span>Ontario residents with a valid Ontario Health Card who
                    have a
                    physical disability of 6 months or longer.</span>
            </p>
            <p>
                ADP will not pay for equipment available under the Workplace Safety
                &amp; Insurance Board (WSIB) or to Group &ldquo;A&rdquo; Veterans for
                their pensioned conditions.
            </p>
        </div>

        <a href="http://www.health.gov.on.ca/en/public/programs/adp/" target="_blank"
            class="button button--primary">View website</a>

        <p class="item-body-steps">
            <strong>Next Steps</strong><br /><span>Client must be assessed by a healthcare professional who is an
                authorizer. Authorizer must complete an&nbsp;</span><a
                href="http://www.health.gov.on.ca/en/public/programs/adp/adp_fm.aspx" target="_blank"
                rel="noopener">Assistive Devices Program Application Form</a>
        </p>
    </div>
    <div class="item-header">
        <h3 class="heading">The ALS Society of Ontario</h3>
        <p class="phone-ic"><a href="tel:1-866-611-8545">1-866-611-8545</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />Equipment loan pool and may provide partial
                assistance with funding for equipment for those with ALS.
            </p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
                <li>Home modifications</li>
            </ul>
        </div>

        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility<br /></strong>Applicants must be registered with
                ALS Ontario to qualify for assistance Proof of Income required (CRA Notice
                of Assessment)
            </p>
        </div>

        <a href="http://www.als.ca" target="_blank" class="button button--primary">View website</a>

        <p class="item-body-steps">
            <strong>Next Steps<br /></strong><a
                href="http://www.als.ca/sites/default/files/files/Client%20Services/EQUIPMENT%20APPLICATION%20FORM%20A%20-%20Revised%20October2013.pdf"
                target="_blank" rel="noopener">The ALS Society of Ontario Application Form</a><br /><br />*Application
            Form (Page 2) must be prepared by a Registered
            Health Professional e.g. OT, PT, RN
        </p>
    </div>
    <div class="item-header">
        <h3 class="heading">Alzheimer Society of Ontario</h3>
        <p class="phone-ic"><a href="tel:1-800-879-4226">1-800-879-4226</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />Organization &ldquo;dedicated to improving
                the quality of life for Ontarians living with Alzheimer's disease and
                other dementias and advancing the search for the cause and cure.&rdquo;
            </p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
                <li>Home modifications</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility<br /></strong>Applicants must be registered with
                the Alzheimer&rsquo;s Society of Ontario.
            </p>
            <p>
                Must consider other government funding (ADP, ODSP), and be in a financial
                hardship.
            </p>
        </div>

        <a href="http://www.alzheimer.ca/en/on" target="_blank" class="button button--primary">View website</a>

        <p class="item-body-steps">
            <strong>Next Steps<br /></strong>Contact a counsellor at your local
            Alzheimer Society of Ontario by telephone.
        </p>
    </div>
    <div class="item-header">
        <h3 class="heading">The Arthritis Society</h3>
        <p class="phone-ic"><a href="tel:1-800-321-1433">1-800-321-1433</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />The Arthritis Society has been setting
                lives in motion for over 65 years, and is dedicated to a vision of living
                well while creating a future without arthritis.
            </p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
                <li>Home modifications</li>
            </ul>
        </div>

        <a href="http://www.arthritis.ca" target="_blank" class="button button--primary">View website</a>
    </div>
    <div class="item-header">
        <h3 class="heading">
            Canadian Paraplegic Association Of Ontario (Spinal Cord Injury Ontario)
        </h3>
        <p class="phone-ic"><a href="tel:416-422-5644">416-422-5644</a></p>
        <p class="email-ic"><a href="mailto:info@cpaont.org">info@cpaont.org</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />May provide assistance with funding for
                medical equipment or renovations.
            </p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
                <li>Home modifications</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility<br /></strong>Individuals with spinal cord
                injury may be eligible for funding.
            </p>
        </div>

        <a href="http://www.sciontario.org/" target="_blank" class="button button--primary">View website</a>
    </div>
    <div class="item-header">
        <h3 class="heading">Community Service Clubs</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview<br /></strong>e.g. Shrine Clubs, Optimist Clubs, War
                Veterans, Royal Canadian Legion
            </p>
        </div>
        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility</strong><br />Most service clubs do not have
                established programs for funding medical equipment but as a last resort
                will often help out people who have exhausted other avenues of funding and
                are still short of the total needed.
            </p>
        </div>

        <a href="/en-ca" target="_blank" class="button button--primary">Various Websites</a>

        <p class="item-body-steps">
            <strong>Next Steps</strong><br />Look online or in Yellow Pages for
            community service clubs in your Community.
        </p>
    </div>
    <div class="item-header">
        <h3 class="heading">The Easter Seals Society</h3>
        <p class="phone-ic"><a href="tel:1-800-668-6252">1-800-668-6252</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />Provides programs and services to children
                and youth with physical disabilities across Ontario. Possible maximum of
                $3,000 for all equipment/service requests per client. Batteries, repairs
                and replacement parts are not funded.
            </p>
            <ul>
                <li>Mobility devices</li>
                <li>Home modifications</li>
                <li>Assistive devices</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility<br /></strong>Parents must attempt to access all
                other funding sources first.
            </p>
            <p>Funded items must be authorized by a healthcare professional.</p>
        </div>

        <a href="http://www.easterseals.org/" target="_blank" class="button button--primary">View website</a>

        <p class="item-body-steps">
            <strong>Next Steps<br /></strong><a
                href="http://www.easterseals.org/wp-content/downloads/Financial-Assistance-Application-and-Guidelines-2014.pdf"
                target="_blank" rel="noopener">Easter Seals Society Application Form &amp; Guidelines</a>
        </p>
    </div>
    <div class="item-header">
        <h3 class="heading">Healthy Homes Renovation Tax Credit</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />"A permanent, refundable personal income
                tax credit for seniors and family members who live with them."
            </p>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong><br />You need to be:</p>
            <ul>
                <li>
                    65 years old or older by the end of the year for which you are claiming
                    the credit
                </li>
            </ul>
            <p>&nbsp; &nbsp; &nbsp; or</p>
            <ul>
                <li>living with a family member who is a senior</li>
                <li>Individuals at all income levels are eligible</li>
            </ul>
        </div>
        <a href="http://www.ontario.ca/taxes-and-benefits/healthy-homes-renovation-tax-credit" target="_blank"
            class="button button--primary">View website</a>
    </div>
    <div class="item-header">
        <h3 class="heading">Insurance Companies</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview<span>&nbsp;</span></strong><br />e.g. health insurance through workplace, health
                insurance
                through
                credit card, etc.
            </p>
        </div>
        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility<br /></strong>Each insurance plan will have
                different requirements and benefits. Some may cover costs of medical
                equipment.
            </p>
        </div>

        <a href="/en" target="_blank" class="button button--primary">Various Websites</a>

        <p class="item-body-steps">
            <strong>Next Steps<br /></strong>Check your insurance plan or go to the
            company&rsquo;s website.
        </p>
    </div>
    <div class="item-header">
        <h3 class="heading">Ontario Disability and Support Program (ODSP)</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />ODSP helps people with disabilities who are
                in financial need pay for living expenses
            </p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
                <li>Batteries and repairs</li>
            </ul>
        </div>

        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility</strong><br />Individuals may be eligible for
                ODSP if
            </p>
            <ul>
                <li>18 years of age or older</li>
                <li>Live in Ontario</li>
                <li>In financial need</li>
                <li>A person with a disability as defined under the ODSP Act</li>
            </ul>
        </div>

        <a href="http://www.mcss.gov.on.ca/en/mcss/programs/social/odsp/" target="_blank"
            class="button button--primary">View website</a>

        <div class="item-body-steps">
            <p><strong>Next Steps</strong></p>
            <ul>
                <li>Check off ODSP box on ADP forms</li>
                <li>Request for funding has to go through the case-worker.</li>
                <li>
                    Occupational Therapist needs to send a quote and letter of rationale to
                    case worker
                </li>
            </ul>
        </div>
    </div>
    <div class="item-header">
        <h3 class="heading">Ontario Federation for Cerebral Palsy (OFCP)</h3>
        <p class="phone-ic"><a href="tel:1-877-244-9686">1-877-244-9686</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />OFCP is a non profit charitable
                organization dedicated to supporting people with cerebral palsy (CP)
                in Ontario.
            </p>
            <p>May provide financial assistance for the following:</p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
                <li>Home modifications</li>
            </ul>
        </div>

        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility<br /></strong>Funding for individuals with
                Cerebral Palsy of all ages who are members of OFCP.
            </p>
        </div>

        <a href="http://www.ofcp.ca/" target="_blank" class="button button--primary">View website</a>

        <p class="item-body-steps">
            <strong>Next Steps<br /></strong><span>&nbsp;</span><br /><a href="http://ofcp.ca/programs/membership"
                target="_blank" rel="noopener">Ontario Federation for
                Cerebral Palsy Membership Info</a>
        </p>

        <p>
            <span>&nbsp;</span><br /><a href="http://www.ofcp.ca/wp-content/uploads/2014/01/application_form.pdf"
                target="_blank" rel="noopener">Ontario Federation for Cerebral Palsy Application Form</a>
        </p>
    </div>
    <div class="item-header">
        <h3 class="heading">Ontario March of Dimes (Assistive Devices Program)</h3>
        <p class="email-ic">
            <a href="mailto:adp@marchofdimes.ca">adp@marchofdimes.ca</a>
        </p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />The Assistive Devices Program (ADP) of the
                March of Dimes assists adults with physical disabilities who are in
                financial need to purchase assistive devices to increase their mobility
                and functional independence.
            </p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility<br /></strong>Eligibility:
            </p>
            <ul>
                <li>19 years of age or older</li>
                <li>
                    Has an ongoing physical limitation that requires the use of an assistive
                    device
                </li>
                <li>In financial need (refer to the Income Eligibility chart)</li>
                <li>A permanent resident of Ontario</li>
            </ul>
        </div>

        <a href="http://www.marchofdimes.ca/EN/programs/adp/Pages/Adp.aspx" target="_blank"
            class="button button--primary">View website</a>

        <p class="item-body-steps">
            <strong>Next Steps<br /></strong><span>&nbsp;</span><br /><a
                href="http://www.marchofdimes.ca/EN/programs/adp/Pages/HowtoApply.aspx" target="_blank"
                rel="noopener">Ontario March of Dimes Application information</a>
        </p>
    </div>
    <div class="item-header">
        <h3 class="heading">
            Ontario March Of Dimes – Home And Vehicle Modification Program (HVMP)
        </h3>
        <p class="email-ic">
            <a href="mailto:hvmp@marchofdimes.ca">hvmp@marchofdimes.ca</a>
        </p>
        <p class="web-ic">
            <a href="http://www.marchofdimes.ca/EN/programs/hvmp/Pages/HomeandVehicle.aspx"
                target="_blank">http://www.marchofdimes.ca/EN/programs/hvmp/Pages/HomeandVehicle.aspx</a>
        </p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />Funding for home and/or vehicle
                modifications for individuals with disabilities that restrict their
                mobility and prevent them from living safely in their homes. Maximum $15
                000 lifetime. Funds are for accessibility and bathroom modifications
                including installing a main floor washroom.
            </p>
            <ul>
                <li>Home modifications</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility</strong><br />Encourage individuals to look for
                other funding first.
            </p>
            <p>Eligibility:</p>
            <ul>
                <li>A permanent Ontario resident</li>
                <li>
                    A person with a substantial impairment caused by bodily injury, birth
                    defect or
                </li>
                <li>
                    Illness that is ongoing and/or recurring and is expected to last one
                    year or more.
                </li>
                <li>
                    The impairment impedes mobility and results in substantial restriction
                    in
                </li>
                <li>activities of daily living</li>
            </ul>
        </div>

        <a href="http://www.marchofdimes.ca/EN/programs/hvmp/Pages/HomeandVehicle.aspx" target="_blank"
            class="button button--primary">View website</a>

        <p class="item-body-steps">
            <strong>Next Steps</strong><br /><br /><a
                href="http://www.marchofdimes.ca/EN/programs/hvmp/Pages/HowtoApply.aspx" target="_blank"
                rel="noopener">Ontario March Of Dimes &ndash; Home And Vehicle Modification Program
                (HVMP) - Application information</a>
        </p>
    </div>
    <div class="item-header">
        <h3 class="heading">
            Ontario Partnership On Aging And Developmental Disabilities
        </h3>
        <p class="phone-ic"><a href="tel:1-866-667-3362">1-866-667-3362</a></p>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />Organization&rsquo;s mission is that older
                adults with a developmental disability have the same rights to support and
                services as all older Ontarians.
            </p>
            <ul>
                <li>Home modifications</li>
            </ul>
        </div>
        <a href="http://www.opadd.on.ca/" target="_blank" class="button button--primary">View website</a>
    </div>
    <div class="item-header">
        <h3 class="heading">Ontario Works (OW)</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />OW is a social assistance program that
                provides money and help finding employment.
            </p>
        </div>
        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility</strong><br />Individuals may be eligible for OW
                if:
            </p>
            <ul>
                <li>Live in Ontario</li>
                <li>Need money right away to help pay for food and housing costs</li>
                <li>Willing to take part in activities that will help you find a job</li>
            </ul>
        </div>

        <a href="http://www.mcss.gov.on.ca/en/mcss/programs/social/ow/" target="_blank"
            class="button button--primary">View website</a>

        <div class="item-body-steps">
            <p><strong>Next Steps</strong></p>
            <ul>
                <li>Check off OW box on ADP forms</li>
                <li>Request for funding has to go through the case-worker</li>
                <li>
                    Occupational Therapist needs to send a quote and letter of rationale to
                    case worker
                </li>
            </ul>
        </div>
    </div>
    <div class="item-header">
        <h3 class="heading">Workplace Safety Insurance Board</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p>
                <strong>Overview</strong><br />Ontario government agency that provides
                compensation for injured workers. WSIB may provide funding for the
                following:
            </p>
            <ul>
                <li>Assistive devices</li>
                <li>Mobility devices</li>
            </ul>
        </div>
        <div class="item-body-sbs">
            <p>
                <strong>Basic Eligibility</strong><br />Client may be eligible for WSIB if
                they had a work-related injury/disease. May be eligible for funding for
                assistive/mobility devices.
            </p>
        </div>
        <a href="http://www.wsib.on.ca/WSIBPortal/" target="_blank" class="button button--primary">View website</a>
    </div>
</div>

<div data-type="alberta">
    <div class="item-header">
        <h3 class="heading">Alberta Aids to Daily Living (AADL)</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br>The Alberta Aids to Daily Living (AADL) program helps Albertans (valid
                personal health number in Alberta) with a long-term disability, chronic illness or terminal illness to
                maintain their independence at home, in lodges or group homes by providing financial assistance to buy
                medical equipment and supplies.</p>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong><br>An assessment by a health care professional determines the
                equipment and supplies that an Albertan can receive through this
                program.<span>&nbsp;</span><br><br>Albertans pay 25% of the benefit cost to a maximum of $500 per
                individual or family per year. Low-income Albertans and those receiving income assistance are exempt
                from paying the cost-sharing portion.</p>
        </div>
        <a href="http://www.health.alberta.ca/services/aids-to-daily-living.html" target="_blank"
            class="button button--primary">View website</a>
    </div>
</div>

<div data-type="new brunswick">
    <div class="item-header">
        <h3 class="heading">Vehicle Retrofitting And Accessible Vehicle Program</h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br>The Vehicle Retrofit Program will provide a maximum grant of 80% of the
                first $5,625 and 50% of next $7,000 to individuals, registered non-profit organizations, municipalities
                or private companies towards the cost of supporting and/or installing eligible accessibility features
                for a new or existing vehicle.</p>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong></p>
            <ul>
                <li>Individual Residents of New Brunswick</li>
                <li>Registered Non-Profit Organizations</li>
                <li>Municipalities of New Brunswick</li>
                <li>Private companies providing transportation service to disabled persons within New Brunswick</li>
                <li>Must be primary personal use vehicle</li>
            </ul>
        </div>

        <a href="http://www2.gnb.ca/content/gnb/en/services/services_renderer.7715.Vehicle_Retrofit_Program_(Persons_with_Disabilities).html"
            target="_blank" class="button button--primary">View website</a>

        <p class="item-body-steps">
            <strong>Next Steps</strong>
            <br />
            <a href="https://www.pxw1.snb.ca/snb7001/e/1000/CSS-FOL-40-9147E.pdf" target="_blank" rel="noopener">Vehicle
                Retrofitting And Accessible Vehicle Program - Application Form</a>
        </p>
    </div>

    <div class="item-header">
        <h3 class="heading">The John Wood Foundation Inc. </h3>
    </div>
    <div class="item-body">
        <div class="item-body-sbs">
            <p><strong>Overview</strong><br>The John Wood Foundation Inc. focuses on raising money that will be
                allocated to benefit those in need and enable people with significant disabilities to obtain the support
                they need (up to $5000).</p>
        </div>
        <div class="item-body-sbs">
            <p><strong>Basic Eligibility</strong></p>
            <ul>
                <li>Must be a resident of New Brunswick.</li>
            </ul>
        </div>
        <a href="http://www.thejohnwoodfoundation.org/apply-for-funding.html" target="_blank"
            class="button button--primary">View website</a>
    </div>
</div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Funding",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
.funding-wrapper h1,
.funding-wrapper h2,
.funding-wrapper h3,
.funding-wrapper h4,
.funding-wrapper p {
	color: #002D72;
}
.funding-wrapper p {
	font-size: 20px;
	line-height: 1.2;
}
.button button--primary {
  font-size: 20px;
  font-family: 'VolteB';
max-width: 380px;
  width: 100%;
}
.eqp-rental {
	margin: 50px auto 50px;
}
	.eqp-rental p a {
		font-family: 'VolteB';
		text-decoration: underline;
	}
.eqp-rental h2 {
  font-size: 42px;
  line-height: 1.1;
	margin: 40px 0 16px;
}
.maxn {
	max-width: 940px;
}
.eqp-rental .find-store {
	margin-top: 15px;
}
.funding-wrapper .av-products-sect h3 {
	font-size: 30px;
	line-height: 1.1;
	margin: 45px 0 25px;
}
.quick-links__link h2 {
	font-family: "VolteB";
	font-size: 30px;
	line-height: 30px;
	margin: 30px auto 0;
}
.quick-links__link a {
	display: block;
	margin-top: 30px;
	color: #307FE2;
  	font-size: 20px;
  	line-height: 20px;
}
.select-region-sect h2 {
	font-size: 42px;
	line-height: 1.1;
	margin: 85px 0 25px;
}
.select-region-tabs {
	display: flex;
}
.select-region-tabs > div {
	width: 100%;
	font-size: 16px;
	line-height: 1.1;
	color: #002D72;
	background: #fff;
	padding: 25px 10px;
	text-align: center;
	border: 2px solid #D8D8D8;
	border-right: none;
	cursor: pointer;
	margin-bottom: 25px;
}
.select-region-tabs > div:last-child {
	border-right: 2px solid #D8D8D8;
}
.select-region-tabs > div:hover,
.select-region-tabs > div.active
{
	background: #002D72;
	color: #fff;
}
.select-region-tabs_body {
	margin-bottom: 80px;
}
.select-region-tabs_body > div {
	display: none;
}
.select-region-tabs_body .item-body {
	display: none;
	padding: 25px 30px 30px;
	background: #fff;
	border: 1px solid #C9C9C9;
	margin-bottom: 20px;
}
.item-body .item-body-sbs {
	display: inline-block;
	width: 49.5%;
	vertical-align: top;
	padding-right: 25px;
}
.item-body .item-body-sbs strong {
	font-family: 'VolteB';
	font-weight: normal;
	font-size: 24px;
	line-height: 1.2;
}
.item-body .button--primary {
	margin: 25px 0 25px;
	display: block;
}
.item-body .item-body-steps {
	padding: 20px 30px 25px;
	border: 1px solid #A7A7A7;
	margin: 25px 0 20px;
}
.item-body .item-body-steps strong {
	font-family: 'VolteB';
}

.item-body .item-body-steps a {
	text-decoration: underline;
}
.select-region-tabs_body .item-body li {
	color: #002D72;
  	font-size: 20px;
  	line-height: 1.2;
}
.select-region-tabs_body .item-header {
	position: relative;
	margin-top: 15px;
	background: #C3D7EE;
	padding: 30px 15px;
    padding-left: 10%;
	cursor: pointer;
	transition: 200ms;
}
.select-region-tabs_body .item-header.active {
	background: #002D72;
}
.select-region-tabs_body .item-header.active > h3,
.select-region-tabs_body .item-header.active > p {
	color: #fff !important;
}
.select-region-tabs_body .item-header.active .phone-ic:before,
.select-region-tabs_body .item-header.active .web-ic:before,
.select-region-tabs_body .item-header.active .email-ic:before {
	filter: brightness(0) invert(1);

}
.select-region-tabs_body .item-header:before {
	position: absolute;
	content: ' ';
	left: 25px;
	top: 20px;
	width: 68px;
    height: 68px;
    background: url('https://wellwise.s3.amazonaws.com/plus-ic.png') center center no-repeat #FFFFFF;
	background-size: contain;
}
.select-region-tabs_body .item-header.active:before {
	background: url('https://wellwise.s3.amazonaws.com/minus-ic.png') center center no-repeat #FFFFFF;
	background-size: contain;
}
.select-region-tabs_body .item-header h3 {
	font-size: 30px;
	line-height: 1.1;
	margin: 0 0 10px;
}
.select-region-tabs_body .item-header > p {
	position: relative;
	font-size: 24px;
	line-height: 1.1;
}
.select-region-tabs_body .item-header .phone-ic,
.select-region-tabs_body .item-header .web-ic,
.select-region-tabs_body .item-header .email-ic {
	padding-left: 30px;
	margin-bottom: 10px;
	font-family: 'Volte';
}
.select-region-tabs_body .item-header .phone-ic:before,
.select-region-tabs_body .item-header .web-ic:before,
.select-region-tabs_body .item-header .email-ic:before {
	position: absolute;
	content: ' ';
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	width: 17px;
    height: 17px;
    background: url('https://wellwise.s3.amazonaws.com/phone_icon_blue.png') center center no-repeat;
	background-size: contain;
}
.select-region-tabs_body .item-header .web-ic:before {
	background: url('https://wellwise.s3.amazonaws.com/website_icon_blue.png') center center no-repeat;
	background-size: contain;
}
.select-region-tabs_body .item-header .email-ic:before {
	background: url('https://wellwise.s3.amazonaws.com/email_icon_blue.png') center center no-repeat;
	background-size: contain;
}
@media(max-width: 768px) {
  .select-region-tabs {
	flex-wrap: wrap;
  }
	.select-region-tabs > div {
		width: 50%;
		margin-bottom: 0px;
		border-bottom: 0px;
		border-right: 2px solid #D8D8D8 !important;
	}
    .select-region-tabs > div:nth-child(even) {
		border-left: none;
    }
	.select-region-tabs > div:nth-child(5),
	.select-region-tabs > div:nth-child(6),
	.select-region-sect .select-region-tabs > div:nth-child(3),
	.select-region-sect .select-region-tabs > div:nth-child(4){
		border-bottom: 2px solid #D8D8D8;
	}
  .select-region-tabs > div:first-child,
  .select-region-tabs > div:last-child {
      border-radius: 0;
  }
  .select-region-tabs > div:nth-child(1) { border-top-left-radius: 10px; }
	.select-region-tabs > div:nth-child(2) { border-top-right-radius: 10px; }
	.select-region-tabs > div:nth-child(5) { border-bottom-left-radius: 10px; }
	.select-region-tabs > div:nth-child(6) { border-bottom-right-radius: 10px; }

	.select-region-sect .select-region-tabs > div:nth-child(3) { border-bottom-left-radius: 10px; }
	.select-region-sect .select-region-tabs > div:nth-child(4) { border-bottom-right-radius: 10px; }

	.select-region-tabs_body .item-header {
		padding-left: 120px;
	}
  .item-body .item-body-sbs {
      width: 100%;
  }
	.item-body .item-body-sbs:nth-child(2) { margin-top: 25px; }
	.select-region-tabs_body .item-header h3 {
		font-size: 24px;
		line-height: 1.2;
	}
  	.select-region-tabs_body .item-header > p {
      text-overflow: ellipsis;
		font-size: 18px;
		line-height: 1.2;
	}
}
@media(min-width: 768px) and (max-width: 1200px) {
	.select-region-tabs_body .item-header {
		padding-left: 120px;
	}
}
{% endstylesheet %}

{% javascript %}
    $(document).on('click', '.select-region-tabs > div', function(e) {
      e.preventDefault();
      if($(this).hasClass('active')) return false;
      
      const target = $(this).text().trim().toLowerCase();
      console.log('.select-region-tabs_body [data-type="' + target + '"]');
      $('.select-region-tabs > div.active').removeClass('active');
      $(this).addClass('active');
      
      $('.select-region-tabs_body > div').slideUp();
      $('.select-region-tabs_body [data-type="' + target + '"]').slideToggle();
    });
  
  	$(document).on('click', '.select-region-tabs_body .item-header', function(e) {
      e.preventDefault(); 
      
      //$('.select-region-tabs_body .item-header').removeClass('active');
      $(this).toggleClass('active');
      
      //$('.select-region-tabs_body .item-body').slideUp();
      $(this).next().slideToggle();
    });
{% endjavascript %}
