<div class="service-banner">
  <div class="inner">
    <div>
      <h1 class="heading">
        We are at your service.
      </h1>

      <p>
        Wellwise by Shoppers™ is much more than just a retail store – we are your partner in wellness. From product recommendations to in-home consultations, our expert staff offers a variety of services designed to help you and your family improve your everyday.
      </p>
      <p>
        Read below to learn more about what we offer, or get in touch with your nearest in-store location today.
      </p>

      <a href="/pages/store-locator" class="button find-store">
        Find a store
      </a>
    </div>
    <div></div>
  </div>
</div>

<div class="container services-page">
	{% render 'our-services-icons', IsServicePage: true %}
</div>

<div class="container-wide rest-easy">
  <div>
    <h2>Here to help you rest easy.</h2>
    <h3>CPAP & Sleep Therapy Services.</h3>
  </div>
</div>

<div class="container services-page easy-steps ">
  <p class="maxot">
    We have the products and services to help support you on your sleep journey. Schedule your in-store CPAP and Sleep Apnea Therapy consultation today and one of our highly trained sleep consultants will be happy to offer one-on-one guidance toward a better night’s sleep.
  </p>
  
  <div class="side-by-side">
    <div>
      <h2>
        5 easy steps.
      </h2>
      <p class="during-max">
        During and after your in-store consultation, our team of Registered Nurses, Registered Respiratory Therapists, and Registered Polysomnographic Technologists will:
      </p>
      
      <ul>
        <li>
          	Fill your prescription
        </li>
        <li>
          Recommend products based on your needs
        </li>
        <li>
          Get you comfortable with using your new equipment
        </li>
        <li>
          Teach you how to clean and maintain your equipment
        </li>
        <li>
          Monitor results and communicate with your physician as needed
        </li>
      </ul>
    </div>
    <div class="img-side">
      <img src="https://wellwise.s3.amazonaws.com/services_1.png" alt=""/>
    </div>
  </div>
  <p class="section-disclaimer heading">
    Call your nearest store today to book your first appointment and our helpful staff will be happy to schedule your follow-up or maintenance visits down the road.
  </p>
  
  <div class="easy-button-group">
    <a href="/pages/store-locator" class="button button--primary">Find a location</a>
    <a href="/collections/sleep-aids" class="button button--primary">Shop CPAP & Sleep Therapy</a>
  </div>
</div>

<div class="container-wide rest-easy fitting-sect">
  <div>
    <h2>Finding the right fit.</h2>
    <h3>Professional Fittings for Braces & Supports.</h3>
  </div>
</div>

<div class="container services-page easy-steps ">
  <p class="maxot">
    If you’re looking for fittings for custom braces and supports, we have the people and expertise to help ensure your equipment does what it was designed to do. Call us today to arrange getting your prescription filled and scheduling your in-store consultation.
  </p>
  
  <div class="side-by-side">
    <div>
      <h2>
        Preparing for your professional fitting.
      </h2>
      <p class="during-max">
      Be sure to do the following for your fitting appointment:  
      </p>
      
      <ul class="checkmarks">
        <li>
          	Bring your prescription stating the compression level, length of garment, and diagnosis
        </li>
        <li>
          Wear loose-fitting pants, leggings, or skirt so we can take proper measurements
        </li>
        <li>
          Cover any open or uncovered wounds with a dressing
        </li>
        <li>
          Wear a mask throughout the entire process, per COVID-19 guidelines
        </li>
      </ul>
      
  
      <div class="easy-button-group" style="margin-top: 35px;">
        <a href="/pages/store-locator" class="button button--primary">Find a location</a>
        <a href="/collections/braces-supports" class="button button--primary">Explore Braces & Support products</a>
      </div>
    </div>
    <div class="img-side">
      <img src="https://wellwise.s3.amazonaws.com/services_2.png" alt=""/>
    </div>
  </div>
</div>

<div class="container-wide rest-easy home-sect">
  <div>
    <h2>Feel home free.</h2>
    <h3>Home Services.</h3>
  </div>
</div>

<div class="container services-page home-service">
  <p>
    We are here to help you and your loved ones feel safe and confident in your home. From in-home assessments, to product recommendations, to scheduled post-sale follow-ups, we can help you stay in the home you love.
  </p>
  
  <p class="heading">
    Please Note: These services are currently only available in Ontario.
  </p>
  
  <a href="/pages/home-services-request" class="button button--primary">
    Contact Home Services
  </a>
</div>

<div class="container-wide types-services-grid">
  <div>
    <img src="https://wellwise.s3.amazonaws.com/home-services/1.png" alt=""/>
    <p>Home assessments and design consultations performed by CAPS-certified consultants</p>
  </div>
  <div>
    <img src="https://wellwise.s3.amazonaws.com/home-services/2.png" alt=""/>
    <p>Reputable, licensed, and bonded contractors committed to quality from start to finish</p>
  </div>
  <div>
    <img src="https://wellwise.s3.amazonaws.com/home-services/3.png" alt=""/>
    <p>Scheduled post-sale follow-ups and preventative maintenance services</p>
  </div>
  <div>
    <img src="https://wellwise.s3.amazonaws.com/home-services/4.png" alt=""/>
    <p>Products and services that are compliant with Health & Safety standards</p>
  </div>
  <div>
    <img src="https://wellwise.s3.amazonaws.com/home-services/5.png" alt=""/>
    <p>Equipment Certification (Weight Load Testing & Bed Rail Entrapment)</p>
  </div>
</div>

{% comment %}
<div class="types-home-mod">
  <div class="container tab-container">
    <h2 class="heading">
      Types of home modifications.
    </h2>
    <div class="select-region-tabs">
      <div data-collection="daily-living">
        Bathroom Safety
      </div>
      <div data-collection="canes-subcategory">
        Home comfort
      </div>
      <div  data-collection="covid-19-products">
        Home Entrance
      </div>
      <div  data-collection="cpap">
        Elevators & Lifts
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="select-region-tab-body"></div>
  </div>
</div>
{% endcomment %}

<div class="container-wide rest-easy recovery-sect">
  <div>
    <h2>Here to support your recovery.</h2>
    <h3>Equipment Rentals.</h3>
  </div>
</div>

<div class="container services-page av-products-sect">
  <p class="maxot">
    Whether undergoing surgery or having family members visit who require physical aids, the last thing you should worry about is purchasing expensive equipment. We offer a wide range of rental products to provide assistance only while you need it.
  </p>
  <p class="maxot">
    Our rental program follows a 28-day cycle with automatic billing every four weeks. All rental products are cleaned and sterilized before returning into circulation.
  </p>
  
  <h2 class="heading">
    Available products:
  </h2>
  
  <div class="av-prod-grid">
    <div>
      <h3 class="heading">
        Mobility aids
      </h3>
      <p>
        (walkers, rollators, scooters, canes, transport chairs, removable/portable ramps)
      </p>
    </div>
    <div>
      <h3 class="heading">
        Bathroom safety products
      </h3>
      <p>
        (grab bars, transfer chairs, and more)
      </p>
    </div>
    <div>
      <h3 class="heading">
        Hospital beds
      </h3>
      <p>
        
      </p>
    </div>
    <div>
      <h3 class="heading">
        Lift Chairs
      </h3>
      <p>
        
      </p>
    </div>
    <div>
      <h3 class="heading">
        Crutches
      </h3>
      <p>
        
      </p>
    </div>
    <div>
      <h3 class="heading">
        Bed rails
      </h3>
      <p>
        
      </p>
    </div>
    <div>
      <h3 class="heading">
        Electric breast pumps
      </h3>
      <p>
        
      </p>
    </div>
  </div>
  
  
    <a href="/pages/store-locator" class="button button--primary">Find a store</a>
</div>

<div class="container-wide rest-easy comp-serv-sect">
  <div>
    <h2>Feel better from head to foot.</h2>
    <h3>Compression Services.</h3>
  </div>
</div>

<div class="container services-page easy-steps comp-steps">
  <p class="maxot">
  	Compression products do much more than simply improve circulation, they can also help you exercise from home, improve recovery, and reduce inflammation and soreness caused by prolonged sitting while working long hours.
  </p>
  <p class="maxot">
    Our in-store consultants would be more than happy to help you find the right fit. Come visit us today to explore a vast array of:
  </p>
  
  <div class="side-by-side">
    <div>
      <ul class="checkmarks">
        <li>
          	Compression clothing & undergarments
        </li>
        <li>
          Diabetic socks
        </li>
        <li>
          Footcare products
        </li>
        <li>
          Footwear
        </li>
        <li>
          And more
        </li>
      </ul>
      
  
      <div class="easy-button-group" style="margin-top: 35px;">
        <a href="/pages/store-locator" class="button button--primary">Find a location</a>
        <a href="/collections/compression" class="button button--primary" target="_blank">Shop now</a>
      </div>
    </div>
    <div class="img-side">
      <img src="https://wellwise.s3.amazonaws.com/services_3.png" alt=""/>
      <div class="img-caption">
        <h3 class="heading">
          Need to fill a compression prescription?
        </h3>
        <p>
          Our in-store consultants can fill your prescription for higher grade compression products and provide advice for their proper use and maintenance.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-wide rest-easy order-terms-sect">
  <div>
    <h2>Order on your terms.</h2>
    <h3>Online & In-Store Shipping Options.</h3>
  </div>
</div>

<div class="container services-page">
  <div class="order-terms-group">
    <div>
      <p>
        Whether you’re shopping in-store and want items shipped directly to your home, or ordering online and want to save on costs, we offer a variety of shipping options based on your needs.
      </p>
      <p>
        For your convenience, large orders or deliveries requiring signatures are all managed by our in-house delivery system. Reach out to your nearest store for information about our shipping options.
      </p>
      <a href="/collections/home" class="button button--primary">
        Shop now
      </a>
    </div>
    <div>
      <div class="special-blue">
        <h3 class="heading">
          Looking for something special?
        </h3>
        <p>
          If you are looking for specific products suited to your unique needs, we are happy to fulfill special orders. Get in touch with us today to find out how we can help.
        </p>
        <a href="/pages/store-locator" class="button button--primary">
          Find a location
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Services",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
.services-page h1,
.services-page h2,
.services-page h3,
.services-page p,
.services-page span {
	color: #002D72;
}
.quick-links__link {
	padding: 30px 24px;
}
.quick-links__link h2 {
	font-family: "VolteB";
	font-size: 30px;
	line-height: 30px;
	margin: 30px auto 0;
}
.quick-links__link a {
	display: block;
	margin-top: 30px;
	color: #307FE2;
  	font-size: 20px;
  	line-height: 20px;
}
.rest-easy {
	background: #002D72;
    padding: 50px 10px;
    margin: 120px auto 70px;
}
.rest-easy > div {
	position: relative;
	max-width: 1520px;
	margin: 0px auto;
	padding-left: 130px;
}
	.rest-easy > div:before {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 90px;
      height: 70px;
      background: url('https://wellwise.s3.amazonaws.com/pillow-icon-white.png') center center no-repeat;
      background-size: contain;
	}
	.rest-easy.fitting-sect > div:before {
		background: url('https://wellwise.s3.amazonaws.com/fittings-icon-white.png') center center no-repeat;
      	background-size: contain;
	}
	.rest-easy.home-sect > div:before {
		background: url('https://wellwise.s3.amazonaws.com/homeservices-icon-white.png') center center no-repeat;
      	background-size: contain;
	}
	.rest-easy.recovery-sect > div:before {
		background: url('https://wellwise.s3.amazonaws.com/productrentals_icon_white.png') center center no-repeat;
      	background-size: contain;
	}
	.rest-easy.comp-serv-sect > div:before {
		background: url('https://wellwise.s3.amazonaws.com/compression_icon_white.png') center center no-repeat;
      	background-size: contain;
	}
	.rest-easy.order-terms-sect > div:before {
		background: url('https://wellwise.s3.amazonaws.com/shippingoptions_icon_white.png') center center no-repeat;
      	background-size: contain;
	}
.rest-easy h2,
.rest-easy h3 {
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	font-family: "VolteB";
	margin: 0px;
}
.rest-easy h3 {
	font-size: 35px;
	line-height: 35px;
	margin-top: 10px;
}
.maxot {
	max-width: 1000px;
}
.easy-steps {
	margin-bottom: 80px;
}
.easy-steps h2 {
	font-family: 'VolteB';
  font-size: 30px;
  line-height: 30px;
	margin: 25px 0 10px;
}
.easy-steps ul {
	list-style: none;
	margin: 30px 0 0;
}

.easy-steps li {
	position: relative;
	color: #002D72;
	font-size: 20px;
	line-height: 1.2;
	font-family: "VolteB";
	padding: 20px 15px 20px 60px;
}
	.easy-steps li:before {
      content: '1';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 45px;
      height: 45px;
	color: #307FE2;
		border-radius: 50%;
		border: 4px solid #307FE2;
		padding: 10px 14px;
	}
.easy-steps .during-max { max-width: 95%; }
.easy-steps li:nth-child(2):before { content: '2'; }
.easy-steps li:nth-child(3):before { content: '3'; }
.easy-steps li:nth-child(4):before { content: '4'; }
.easy-steps li:nth-child(5):before { content: '5'; }

.easy-steps ul.checkmarks li:before {
	top: 40%;
    width: 31px;
    height: 31px;
	content: ' ';
	border-radius: 0;
	border: none;
	background: url('https://wellwise.s3.amazonaws.com/checkmark_icon.png') center center no-repeat;
    background-size: contain;
}
.easy-steps.comp-steps ul.checkmarks li:before { top: 50%; }

.easy-steps .side-by-side {
	display: flex;
}
.easy-steps .side-by-side > div {
	width: 50%;
}
.easy-steps .img-side {
	width: 50%;
}
.easy-steps.comp-steps .img-side {
	border: 1px solid #B9B9B9;
}

.easy-steps .img-side img {
	width: 100%;
}
.img-caption {
	background: #C3D7EE;
	padding: 20px;
}
.img-caption h3 {
	margin-top: 0;
  font-size: 24px;
  line-height: 24px;
}
.img-caption p {
	margin-top: 0;
  font-size: 20px;
  line-height: 1.2;
}
.easy-steps .section-disclaimer {
	font-size: 18x;
	line-height: 20px;
	margin: 40px 0 45px;
}
.easy-steps .easy-button-group > a {
	display: block;
    max-width: 380px;
    margin-bottom: 15px;
	font-family: 'VolteB';
  font-size: 20px;
}

.service-banner {
	margin-bottom: 90px;
	background-color: #002D72;
	background: url('https://wellwise.s3.amazonaws.com/service_banner.png') center center no-repeat;

}
.service-banner .inner {
	max-width: 1520px;
	margin: 0px auto;
}
.service-banner .inner {
	display: flex;
}
.service-banner .inner > div { 
	width: 100%;
}
.service-banner .inner > div:first-child {
	padding: 70px 0px 120px;
}
.service-banner h1,
.service-banner p,
.service-banner a {
	color: #fff;
}
.service-banner h1 {
  font-size: 64px;
  line-height: 64px;
margin-bottom: 15px;
}
.service-banner p {
	font-size: 22px;
  	line-height: 25px;
}
.service-banner .find-store {
  background: #fff;
  color: #002D72;
  border: 1px solid #fff;
	font-family: "VolteB";
	margin-top: 35px;
	display: block;
	max-width: 380px;
	font-size: 20px;
}
.types-services-grid {
	display: flex;
	background: #fff;
	margin: 70px 0 70px; 
}
.types-services-grid > div {
  width: 100%;
  border: 1px solid #B9B9B9;
	text-align: center;
	padding: 40px 0px 45px;
}
.types-services-grid > div img {
  display: block;
  margin: 0px auto 25px;
}
.types-services-grid p {
  max-width: 234px;
  margin: 0px auto;
  display: block;
  font-size: 20px;
  line-height: 25px;
  color: #002D72;
}
.av-products-sect h2 {
  font-size: 30px;
	line-height: 30px;
	margin: 70px 0 5px;
}
.av-prod-grid {
	display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background: #fff;
	margin: 20px 0 40px;
}
.av-prod-grid > div {
    grid-column: span 3;
	border: 1px solid #D8D8D8;
	padding: 35px 10px 0px;
	text-align: center;
}
.av-prod-grid > div:nth-child(1),
.av-prod-grid > div:nth-child(2),
.av-prod-grid > div:nth-child(3) {
    grid-column: span 4;
}
.av-prod-grid .heading {
	position: relative;
  padding-left: 50px;
  display: inline-block;
}
.av-prod-grid .heading:before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
    width: 31px;
    height: 31px;
	content: ' ';
	border-radius: 0;
	border: none;
	background: url('https://wellwise.s3.amazonaws.com/checkmark_icon.png') center center no-repeat;
    background-size: contain;
}

.av-prod-grid h3 {
  font-size: 24px;
  line-height: 24px;
}
.av-prod-grid p {
  font-size: 18px;
  line-height: 18px;
	max-width: 420px;
	margin: 0px auto;
}
.order-terms-group {
	display: flex;
    justify-content: space-between;
	margin: -20px 0 80px;
}
.order-terms-group > div {
	width: 100%;
	position: relative;
  max-width: 770px;
  padding: 40px 20px;
}
.order-terms-group > div:first-child {
	max-width: 700px;
}
.order-terms-group .special-blue {
	background: #C3D7EE;
  padding: 40px 40px;
}
.order-terms-group h3 {
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 10px;
}
.order-terms-group p {
  font-size: 20px;
	line-height: 1.2;
	margin-bottom: 20px;
}
.services-page p {
	font-size: 20px;
	line-height: 1.2;
}
.types-home-mod .heading {
	font-size: 30px;
	line-height: 1;
	margin-bottom: 30px;
}

@media(max-width: 768px) {
	.service-banner {
		margin-bottom: 60px;
		background: #002D72;
	}
	.service-banner .inner {
		flex-direction: column;
	}
	.service-banner .inner > div {
		width: 100%;
	}
	.service-banner .inner {
		max-width: calc(100% - 50px);
		margin: 0px auto;
	}
    .service-banner .inner > div:first-child {
        padding: 50px 0px 100px;
    }
	.service-banner h1 {
		font-size: 36px;
		line-height: 1.2;
	}
    .service-banner p {
        font-size: 18px;
        line-height: 1.2;
    }
	.rest-easy > div {
		padding: 100px 20px 10px;
	}
  	.rest-easy > div:before {
		top: 35px;
    	left: 15px;
	}
	.easy-steps .side-by-side {
		flex-direction: column-reverse;
	}
	.easy-steps .side-by-side > div {
		width: 100%;
	}
	.types-services-grid,
	.order-terms-group {
		flex-direction: column;
		width: 100%;
	}
	.order-terms-group,
	.types-services-grid > div {
		width: 100%;
	}
	.av-prod-grid {
		display: block;
		padding-bottom: 10px;
	}
		.av-prod-grid > div {
			padding: 35px 8%;
		}
}
@media (max-width: 768px) {
	.select-region-tab-body .ptitle {
		text-align: center;
		margin: 25px auto 20px;
		max-width: 90%;
	}
}
@media(min-width: 768px) and (max-width: 1580px) {
	.service-banner {
		padding: 0px 25px;
	}
		.types-services-grid > div {
			padding: 40px 20px 45px;
		}
		.service-banner .inner > div:first-child {
			padding-top: 40px;
		}
}

/*GLOBAL*/
.button.button--primary {
  font-family: 'VolteB';
	font-size: 20px;
    max-width: 380px;
    width: 100%;
}
{% endstylesheet %}


{% style %}
@media(max-width: 768px) {
	.select-region-tabs > div:nth-child(3) { border-bottom-left-radius: 10px; }
	.select-region-tabs > div:nth-child(4) { border-bottom-right-radius: 10px; }
	.select-region-tabs > div:nth-child(3),
	.select-region-tabs > div:nth-child(4) {
		border-bottom: 2px solid #D8D8D8 !important;
	}
}
{% endstyle %}

{% javascript %}
  $(document).ready(function() {
	var url = window.location.href.toLowerCase();

    if(url.indexOf('dl=cpap') > -1) {
      $('.service-deeplink[data-target=".rest-easy"]').trigger('click');
    }
    if(url.indexOf('dl=braces') > -1) {
      $('.service-deeplink[data-target=".fitting-sect"]').trigger('click');
    }
    if(url.indexOf('dl=home') > -1) {
      $('.service-deeplink[data-target=".home-sect"]').trigger('click');
    }
    if(url.indexOf('dl=compression') > -1) {
      $('.service-deeplink[data-target=".comp-serv-sect"]').trigger('click');
    }
    if(url.indexOf('dl=rentals') > -1) {
      $('.service-deeplink[data-target=".recovery-sect"]').trigger('click');
    }
    if(url.indexOf('dl=shipping') > -1) {
      $('.service-deeplink[data-target=".order-terms-sect"]').trigger('click');
    }
  });
{% endjavascript %}