<div class="refunds-services-wrapper">
  <div class="container container--takeover-custom">
    <header class="page__header">
      <h1 class="page__title heading h1">{{ page.title }}</h1>
    </header>
  </div>

  <div class="container-wide returns-grid-3">  
    <div>
      <img src="https://wellwise.s3.amazonaws.com/shipping/1.png" alt=""/>
      <h2 class="heading">
        Return by Mail
      </h2>
      <p>
        All returns of online transactions are to be returned by mail only. Customers will have 90 days after receiving a product to initiate a return online.
      </p>
    </div>
    <div>
      <img src="https://wellwise.s3.amazonaws.com/shipping/2.png" alt=""/>
      <h2 class="heading">
        Cost to Return
      </h2>
      <p>
        Returns are free, however not all products are eligible. See the exclusions section for more details.
      </p>
    </div>
    <div>
      <img src="https://wellwise.s3.amazonaws.com/shipping/3.png" alt=""/>
      <h2 class="heading">
        Return Tender and Timeline
      </h2>
      <p>
        Customers will receive the refund in the same payment method used for the purchase. After the product has been delivered to our return facility, funds should be returned within approximately 10-15 business days depending on your bank.
      </p>
    </div>
  </div>
  
  {%- if false -%}
  <div class="container temp-delay">
    <h3 class="heading">
    	Temporary Delay in Return Processing - Updated September 21, 2020
    </h3>
    <p>
      Due to new COVID related procedures in Return Handling we are experiencing delays in Return Processing. We expect all delayed returns to be completed as of October 2, 2020 and regular processing times to resume after that date.
    </p>
  </div>
  {%- endif -%}
  <div class="container init-returns">
    <h2 class="heading">
    	How to Initiate a Return.
    </h2>
    <p>
      An online return requires an RMA (Return Merchandise Authorization) Number.
    </p>
    
    <h3 class="heading">
    	Ways to request an RMA number:
    </h3>
    <div class="flex-ways">
      <div>
        <h4 class="heading">
          Online (Purchased with Account)
        </h4>
        
        <ul>
          <li>Visit your Account Page</li>
          <li>Click on the “Order History” section</li>
          <li>Locate your order and click return on the item(s)</li>
          <li>You will be sent an email with an RMA within 2 business days.</li>
        </ul>
      </div>
      <div>
        <h4 class="heading">
          Online (Purchased As Guest)
        </h4>
        
        <ul>
          <li>Open your Order Confirmation Email</li>
          <li>Click on the Order Number Link</li>
          <li>You will be taken to wellwise.ca and shown your order</li>
          <li>Click return on the item(s)</li>
          <li>You will be sent an email with an RMA within 2 business days.</li>
        </ul>
      </div>
    </div>
    
    <p class="heading any-issues-lbl">
      If you have issues with either method please email <a href="mailto:support@wellwise.ca">support@wellwise.ca</a>.
    </p>
    
    <a href="/pages/contact-us" class="button button--primary">
      Customer service
    </a>
  </div>
  
  <div class="container multi-box">
    <h2 class="heading">
      Multi-box products.
    </h2>
    <p>
      If the product was shipped to you in multiple boxes, please wait until you’ve received the final box before making a return. The return period will start after you get the final package
    </p>
  </div>
  <div class="container multi-box">
    <h2 class="heading">
      PC Optimum
    </h2>
    <p>
	PC Optimum points and/or PC Optimum bonus points will be deducted automatically from the account associated with the PC Optimum member's card number that was used for the original purchase (whether or not the PC Optimum card is presented at the time of return and/or exchange).    </p>
  </div>
  
  <div class="return-elg-sect">
    <div class="container">
      <div class="flex-elg-sect">
        <div>
          <h2 class="heading">
            Return Eligibility.
          </h2>
          <p class="heading">
            Certain items will be considered Final sale at Wellwise. These include:
          </p>
         
        </div>
        <div class="not-on-mobile">
          <h2 class="heading">
            &nbsp;
          </h2>
          <p class="heading">
            Items which contact skin directly are not permitted for return or exchange once the original seal is broken. These include:
          </p>
       
        </div>
      </div>
      
      <br />
      <div class="flex-elg-sect">
        <div>
        	<table>
              <thead>
                  <tr>
                      <th>Item Type</th>
                      <th>Sale Type</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Clearance items</td>
                      <td>Final Sale</td>
                </tr>
                <tr>
                      <td>Gift cards</td>
                      <td>Final Sale</td>
                </tr>
                <tr>
                      <td>Special Orders</td>
                      <td>Final Sale</td>
                </tr>
                <tr>
                      <td>Custom Orders</td>
                      <td>Final Sale</td>
                </tr>
              </tbody>
        	</table>
        </div>
        <div>
          <div class="not-on-desktop">
            <h2 class="heading">
              &nbsp;
            </h2>
            <p class="heading">
              Items which contact skin directly are not permitted for return or exchange once the original seal is broken. These include:
            </p>
            <p class="include-lbl">
              These include:
            </p>
          </div>
        	<table>
              <thead>
                  <tr>
                      <th>Item Type</th>
                      <th>Sale Type</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Breast pumps</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
                <tr>
                      <td>Blood Pressure Monitors</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
                <tr>
                      <td>TENS Unit</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
                <tr>
                      <td>Hospital beds</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
                <tr>
                      <td>Lift chairs</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
                <tr>
                      <td>Pillows</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
                <tr>
                      <td>Incontinence products</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
                <tr>
                      <td>Mattresses & cushions</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
                <tr>
                      <td>Supports & braces</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
                <tr>
                      <td>Bathroom safety</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
                <tr>
                      <td>Mobility aids (transport chairs, rollators, scooters)</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
                <tr>
                      <td>*Electronics</td>
                      <td>Unused <br /> Sealed original packaging</td>
                </tr>
              </tbody>
        	</table>
        </div>
      </div>
    
      <p class="notes-lbl heading">Notes:</p>
      <p class="notes-txt">
        Other exclusions may apply<br />
        *For some electronics you may be required to deal directly with the manufacturer.<br />
        Wellwise reserves the right to refuse to limit or refuse to accept the return of certain merchandise at any time for any reason
      </p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Refunds and Returns",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
.refunds-services-wrapper h1,
.refunds-services-wrapper h2,
.refunds-services-wrapper h3,
.refunds-services-wrapper h4,
.refunds-services-wrapper p {
	color: #002D72;
}
.refunds-services-wrapper p {
  font-size: 20px;
  line-height: 1.2;
}
.refunds-services-wrapper .button.button--primary {
	font-size: 20px;
  max-width: 380px;
  width: 100%;
}

.returns-grid-3 {
    display: flex;
    background: #fff;
    margin: 100px 0 85px;
}
.returns-grid-3 > div {
    width: 100%;
    border: 1px solid #D8D8D8;
    text-align: center;
    padding: 45px 10px 60px;
}
.returns-grid-3 > div img {
    display: block;
    margin: 0px auto 25px;
}
.returns-grid-3 h2 {
	font-size: 30px;
	line-height: 1.1;
}
.returns-grid-3 p {
	max-width: 520px;
  text-align: center;
  margin: 0px auto;
}
.temp-delay {
    background: #FEDD00;
    padding: 30px 30px !important;
    margin-bottom: 60px;
}
.temp-delay h3 {
	font-size: 24px;
	margin: 0px;
}

.container.init-returns {
	background: #fff;
	border: 1px solid #D8D8D8;
	padding-top: 50px;
	padding-bottom: 50px;
}
.init-returns h2 {
	font-size: 42px;
	line-height: 1.1;
	margin-bottom: 10px;
}
.init-returns .flex-ways {
	display: flex;
}
.init-returns .flex-ways > div {
	width: 100%;
}
.init-returns h3 {
	font-size: 30px;
	line-height: 1.1;
	margin: 32px 0 20px;
}
.init-returns h4 {
	font-size: 24px;
	line-height: 1.1;
	margin-bottom: 18px;
}
.init-returns li {
	color: #002D72;
  font-size: 20px;
  line-height: 1.2;
	padding-bottom: 8px;
}
.init-returns .any-issues-lbl {
	text-align: center;
	margin: 45px auto 30px;
}
.init-returns .any-issues-lbl a {
	text-decoration: underline;
}
.init-returns .button--primary {
	display: block;
	margin: 0px auto;
}

.multi-box {
	margin: 90px auto;
}

.multi-box h2 {
	font-size: 42px;
	line-height: 1.1;
	margin-bottom: 15px;
}
.multi-box p {
	font-size: 22px;
	line-height: 1.2;
}

.return-elg-sect {
	background: #fff;
	padding: 80px 0 50px;
}
.flex-elg-sect {
	display: flex;
}
.flex-elg-sect > div {
	width: 100%;
}
.flex-elg-sect h2 {
  font-size: 42px;
  line-height: 1.1;
	margin-bottom: 18px;
}
.flex-elg-sect p {
  font-size: 22px;
  line-height: 1.2;
	margin-bottom: 18px;
}
.flex-elg-sect table {
  max-width: 700px;
	width: 100%;
	text-align: left;
}
.flex-elg-sect table thead th, 
.flex-elg-sect table td {
	padding: 15px 25px 10px;
}
.flex-elg-sect table thead th {
	background: #002d72;
	color: #fff;
	width: 50%;
  font-family: 'VolteB';
  font-size: 20px;
	line-height: 1.1;
}
.flex-elg-sect table td {
	border-bottom: 2px solid #d0cfcf;
	color: #002D72;
font-size: 20px;
line-height: 1.2;
}
.flex-elg-sect table td:nth-child(odd) {
	background: #e3eef9;
}
.notes-lbl {
	margin: 100px 0 20px;
}
.return-elg-sect .notes-txt {
	margin-bottom: 40px;
}
.not-on-desktop { display: none; }
.not-on-mobile { display: block; }

@media(max-width: 768px) {
	.not-on-desktop { display: block; }
	.not-on-mobile { display: none; }

	.returns-grid-3 {
		margin: 50px 0 60px !important;
	}
.returns-grid-3 h2 {
	font-size: 24px;
	line-height: 1.2;
}
.refunds-services-wrapper p {
	font-size: 18px;
	line-height: 1.2;
}
.init-returns h2 {
	font-size: 30px;
	line-height: 1.2;
}
.init-returns h3 {
	font-size: 24px;
	line-height: 1.2;
}
.init-returns h4 {
	font-size: 20px;
	line-height: 1.2;
}
.init-returns li {
	font-size: 19px;
}
.flex-elg-sect table td {
	font-size: 18px;
}
  .returns-grid-3,
	.init-returns .flex-ways,
	.flex-elg-sect {
      flex-direction: column
  } 
	.returns-grid-3 > div,
	.init-returns .flex-ways > div,
	.flex-elg-sect > div {
		width: 100%;
	}
	.flex-elg-sect > div:last-child .not-on-desktop {
		margin-bottom: 25px;
	}
	.init-returns .flex-ways > div:nth-child(2) {
		margin-top: 20px;
	}
}
@media (min-width: 768px) and (max-width: 1520px) {
	.flex-elg-sect > div:first-child {
		padding-right: 20px;
	}

}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
