<div class="refunds-services-wrapper">
  <div class="container container--takeover-custom">
    <header class="page__header">
      <h1 class="page__title heading h1">{{ page.title }}</h1>
    </header>
  </div>

  <div class="container-wide returns-grid-3">  
    <div>
      <img src="https://wellwise.s3.amazonaws.com/shipping/1.png" alt=""/>
      <h2 class="heading">
        Retour par courrier
      </h2>
      <p>
        Tous les retours de transactions en ligne doivent être effectués par courrier seulement. Les clients disposent d’un délai de 90 jours suivant la réception du produit pour demander un retour en ligne.
      </p>
    </div>
    <div>
      <img src="https://wellwise.s3.amazonaws.com/shipping/2.png" alt=""/>
      <h2 class="heading">
        Coût du retour
      </h2>
      <p>
        Les retours sont gratuits, mais tous les produits ne sont pas admissibles. Consultez la section des exclusions pour obtenir plus de détails.
      </p>
    </div>
    <div>
      <img src="https://wellwise.s3.amazonaws.com/shipping/3.png" alt=""/>
      <h2 class="heading">
        Mode de paiement du retour et délai
      </h2>
      <p>
        Les clients recevront le remboursement sur le même mode de paiement utilisé pour l'achat. Une fois le produit livré à notre établissement de retours, les fonds devraient vous être remboursés dans un délai de 10 à 14 jours, selon votre banque.
      </p>
    </div>
  </div>
  
  {%- if false -%}
  <div class="container temp-delay">
    <h3 class="heading">
    	Temporary Delay in Return Processing - Updated September 21, 2020
    </h3>
    <p>
      Due to new COVID related procedures in Return Handling we are experiencing delays in Return Processing. We expect all delayed returns to be completed as of October 2, 2020 and regular processing times to resume after that date.
    </p>
  </div>
  {%- endif -%}
  <div class="container init-returns">
    <h2 class="heading">
    	Comment créer un retour
    </h2>
    <p>
     Pour effectuer un retour en ligne, il vous faut un numéro d'autorisation de retour.
    </p>
    
    <h3 class="heading">
    	Demander un numéro dʼautorisation de retour :
    </h3>
    <div class="flex-ways">
      <div>
        <h4 class="heading">
          En ligne (achats avec un compte)
        </h4>
        
        <ul>
          <li>Rendez-vous sur la page de votre compte.</li>
          <li>Cliquez sur la section « Historique des commandes ».</li>
          <li>Trouvez votre commande et cliquez sur retourner le ou les articles.</li>
          <li>Vous recevrez un courriel contenant un numéro d’autorisation de retour dans un délai de 2 jours ouvrables.</li>
        </ul>
      </div>
      <div>
        <h4 class="heading">
          En ligne (achats en tant qu’invité)
        </h4>
        
        <ul>
          <li>Ouvrez votre courriel de confirmation de commande.</li>
          <li>Cliquez sur le lien du numéro de la commande.</li>
          <li>Vous serez redirigé vers le site wellwise.ca pour afficher votre commande.</li>
          <li>Cliquez sur « retourner le ou les articles ».</li>
          <li>Vous recevrez un courriel contenant un numéro d’autorisation de retour dans un délai de 2 jours ouvrables.</li>
        </ul>
      </div>
    </div>
    
    <p class="heading any-issues-lbl">
      Si vous avez des problèmes avec l'une ou l'autre méthode, veuillez envoyer un courriel à <a href="mailto:support@wellwise.ca">support@wellwise.ca</a>.
    </p>
    
    <a href="/pages/contact-us" class="button button--primary">
      Customer service
    </a>
  </div>
  
  <div class="container multi-box">
    <h2 class="heading">
      Produits en plusieurs colis
    </h2>
    <p>
      Si les produits ont été expédiés en plusieurs colis, veuillez attendre d’avoir reçu le dernier colis avant de procéder au retour. La période de retour commencera une fois que vous aurez reçu le dernier colis.
    </p>
  </div>
  
  <div class="return-elg-sect">
    <div class="container">
      <div class="flex-elg-sect">
        <div>
          <h2 class="heading">
            Admissibilité du retour
          </h2>
          <p class="heading">
            Pour certains articles, la vente est considérée comme étant définitive chez Wellwise. En voici quelques exemples :
          </p>
         
        </div>
        <div class="not-on-mobile">
          <h2 class="heading">
            &nbsp;
          </h2>
          <p class="heading">
            Les articles qui entrent directement en contact avec la peau ne peuvent pas être retournés ni échangés une fois que le sceau de sécurité original est brisé. En voici quelques exemples :
          </p>       
        </div>
      </div>
      
      <br />
      <div class="flex-elg-sect">
        <div>
        	<table>
              <thead>
                  <tr>
                      <th>Type d'article</th>
                      <th>Type de solde</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Cartes-cadeaux</td>
                      <td>Vente ferme</td>
                </tr>
                <tr>
                      <td>Cartes-cadeaux</td>
                      <td>Vente ferme</td>
                </tr>
                <tr>
                      <td>Commandes spéciales</td>
                      <td>Vente ferme</td>
                </tr>
                <tr>
                      <td>Commandes personnalisées</td>
                      <td>Vente ferme</td>
                </tr>
              </tbody>
        	</table>
        </div>
        <div>
          <div class="not-on-desktop">
            <h2 class="heading">
              &nbsp;
            </h2>
            <p class="heading">
              Les articles qui entrent directement en contact avec la peau ne peuvent pas être retournés ni échangés une fois que le sceau de sécurité original est brisé. En voici quelques exemples :
            </p>
            <p class="include-lbl">
              These include:
            </p>
          </div>
        	<table>
              <thead>
                  <tr>
                      <th>Type d'article</th>
                      <th>Type de solde</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Tire-lait</td>
                      <td>Non utilisé <br /> emballage d'origine intact</td>
                </tr>
                <tr>
                      <td>Moniteurs de pression artérielle</td>
                      <td>Non utilisé <br /> emballage d'origine intact</td>
                </tr>
                <tr>
                      <td>Neurostimulateurs transcutanés</td>
                      <td>Non utilisé <br /> emballage d'origine intact</td>
                </tr>
                <tr>
                      <td>Lits d'hôpital</td>
                      <td>Non utilisé <br /> emballage d'origine intact</td>
                </tr>
                <tr>
                      <td>Fauteuils releveurs</td>
                      <td>Non utilisé <br /> emballage d'origine intact</td>
                </tr>
                <tr>
                      <td>Oreillers</td>
                      <td>Non utilisé <br /> emballage d'origine intact</td>
                </tr>
                <tr>
                      <td>Produits pour l'incontinence</td>
                      <td>Non utilisé <br /> emballage d'origine intact</td>
                </tr>
                <tr>
                      <td>Matelas et coussins</td>
                      <td>Non utilisé <br /> emballage d'origine intact</td>
                </tr>
                <tr>
                      <td>Supports et appareils orthopédiques</td>
                      <td>Non utilisé <br /> emballage d'origine intact</td>
                </tr>
                <tr>
                      <td>Sécurité de la salle de bains</td>
                      <td>Non utilisé <br /> emballage d'origine intact</td>
                </tr>
                <tr>
                      <td>Aides à la mobilité (fauteuils de transport, appareils de marche Rollator, scooters)</td>
                      <td>Non utilisé <br /> emballage d'origine intact</td>
                </tr>
                <tr>
                      <td>*Appareils électroniques</td>
                      <td>Emballage dʼorigine intact pouvant être remis en vente</td>
                </tr>
              </tbody>
        	</table>
        </div>
      </div>
    
      <p class="notes-lbl heading">Remarques:</p>
      <p class="notes-txt">
        D'autres exclusions peuvent s’appliquer.<br />
        *Pour certains appareils électroniques, vous devrez peut-être communiquer directement avec le fabricant.<br />
        Wellwise se réserve le droit de refuser de limiter ou de refuser dʼaccepter le retour de certaines marchandises à tout moment et pour quelque motif que ce soit.
      </p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Refunds and Returns",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
.refunds-services-wrapper h1,
.refunds-services-wrapper h2,
.refunds-services-wrapper h3,
.refunds-services-wrapper h4,
.refunds-services-wrapper p {
	color: #002D72;
}
.refunds-services-wrapper p {
  font-size: 20px;
  line-height: 1.2;
}
.refunds-services-wrapper .button.button--primary {
	font-size: 20px;
  max-width: 380px;
  width: 100%;
}

.returns-grid-3 {
    display: flex;
    background: #fff;
    margin: 100px 0 85px;
}
.returns-grid-3 > div {
    width: 100%;
    border: 1px solid #D8D8D8;
    text-align: center;
    padding: 45px 10px 60px;
}
.returns-grid-3 > div img {
    display: block;
    margin: 0px auto 25px;
}
.returns-grid-3 h2 {
	font-size: 30px;
	line-height: 1.1;
}
.returns-grid-3 p {
	max-width: 520px;
  text-align: center;
  margin: 0px auto;
}
.temp-delay {
    background: #FEDD00;
    padding: 30px 30px !important;
    margin-bottom: 60px;
}
.temp-delay h3 {
	font-size: 24px;
	margin: 0px;
}

.container.init-returns {
	background: #fff;
	border: 1px solid #D8D8D8;
	padding-top: 50px;
	padding-bottom: 50px;
}
.init-returns h2 {
	font-size: 42px;
	line-height: 1.1;
	margin-bottom: 10px;
}
.init-returns .flex-ways {
	display: flex;
}
.init-returns .flex-ways > div {
	width: 100%;
}
.init-returns h3 {
	font-size: 30px;
	line-height: 1.1;
	margin: 32px 0 20px;
}
.init-returns h4 {
	font-size: 24px;
	line-height: 1.1;
	margin-bottom: 18px;
}
.init-returns li {
	color: #002D72;
  font-size: 20px;
  line-height: 1.2;
	padding-bottom: 8px;
}
.init-returns .any-issues-lbl {
	text-align: center;
	margin: 45px auto 30px;
}
.init-returns .any-issues-lbl a {
	text-decoration: underline;
}
.init-returns .button--primary {
	display: block;
	margin: 0px auto;
}

.multi-box {
	margin: 90px auto;
}

.multi-box h2 {
	font-size: 42px;
	line-height: 1.1;
	margin-bottom: 15px;
}
.multi-box p {
	font-size: 22px;
	line-height: 1.2;
}

.return-elg-sect {
	background: #fff;
	padding: 80px 0 50px;
}
.flex-elg-sect {
	display: flex;
}
.flex-elg-sect > div {
	width: 100%;
}
.flex-elg-sect h2 {
  font-size: 42px;
  line-height: 1.1;
	margin-bottom: 18px;
}
.flex-elg-sect p {
  font-size: 22px;
  line-height: 1.2;
	margin-bottom: 18px;
}
.flex-elg-sect table {
  max-width: 700px;
	width: 100%;
	text-align: left;
}
.flex-elg-sect table thead th, 
.flex-elg-sect table td {
	padding: 15px 25px 10px;
}
.flex-elg-sect table thead th {
	background: #002d72;
	color: #fff;
	width: 50%;
  font-family: 'VolteB';
  font-size: 20px;
	line-height: 1.1;
}
.flex-elg-sect table td {
	border-bottom: 2px solid #d0cfcf;
	color: #002D72;
font-size: 20px;
line-height: 1.2;
}
.flex-elg-sect table td:nth-child(odd) {
	background: #e3eef9;
}
.notes-lbl {
	margin: 100px 0 20px;
}
.return-elg-sect .notes-txt {
	margin-bottom: 40px;
}
.not-on-desktop { display: none; }
.not-on-mobile { display: block; }

@media(max-width: 768px) {
	.not-on-desktop { display: block; }
	.not-on-mobile { display: none; }

	.returns-grid-3 {
		margin: 50px 0 60px !important;
	}
.returns-grid-3 h2 {
	font-size: 24px;
	line-height: 1.2;
}
.refunds-services-wrapper p {
	font-size: 18px;
	line-height: 1.2;
}
.init-returns h2 {
	font-size: 30px;
	line-height: 1.2;
}
.init-returns h3 {
	font-size: 24px;
	line-height: 1.2;
}
.init-returns h4 {
	font-size: 20px;
	line-height: 1.2;
}
.init-returns li {
	font-size: 19px;
}
.flex-elg-sect table td {
	font-size: 18px;
}
  .returns-grid-3,
	.init-returns .flex-ways,
	.flex-elg-sect {
      flex-direction: column
  } 
	.returns-grid-3 > div,
	.init-returns .flex-ways > div,
	.flex-elg-sect > div {
		width: 100%;
	}
	.flex-elg-sect > div:last-child .not-on-desktop {
		margin-bottom: 25px;
	}
	.init-returns .flex-ways > div:nth-child(2) {
		margin-top: 20px;
	}
}
@media (min-width: 768px) and (max-width: 1520px) {
	.flex-elg-sect > div:first-child {
		padding-right: 20px;
	}

}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
