<div class="incont-wrapper">
{% section 'incontinence-category-banner' %}

{% section 'incontinence-category-featured-collections' %}

{% section 'incontinence-category-items-icons' %}

{% section 'incontinence-category-items-sponsors' %}

{% section 'incontinence-category-faq' %}
</div>