<div class="scooter-pc-wrapper">
  {% section 'scooters-pc-category-banner' %}

  {% section 'scooters-pc-category-featured-collections' %}

  {% section 'mobility-category-items' %}

  {% include 'scooter-home-modification' %}

  {% section 'scooters-pc-category-items-sponsors' %}

  {% section 'scooters-pc-category-faq' %}
</div>