<div class="about-us-wrapper">
  <div class="container container--takeover-custom">
    <header class="page__header">
      <h1 class="page__title heading h1">{{ page.title }}</h1>
    </header>
  </div>
  
  <div class="container">
    <div class="about-featured top-feat">
        <div>
          <div class="inner">
          	<h1 class="heading">
              Qui nous sommes.
          	</h1>
          	<p>
              En tant que partenaires de nos clients pour ce qui a trait au bien-être, nous nous efforçons d’aider les Canadiens à prendre le contrôle de la façon dont ils vieillissent et à rester plus longtemps dans la maison qu’ils aiment, et nous leur fournissons l’aide dont ils ont besoin pour profiter au maximum de chaque journée. Nous vous invitons à découvrir notre vaste gamme de produits et de services conçus pour vous aider à vieillir avec force, détermination et passion.
          	</p>
          	<a href="/pages/store-locator" class="button button--primary find-loc">
              Trouver un magasin
          	</a>
          	<a href="/collections/shop" class="button button--primary shop-now">
              Magasiner maintenant
          	</a>
          </div>
        </div>
        <div>
          <img src="https://wellwise.s3.amazonaws.com/about/who-we-are.png" alt="" class="img" />
        </div>
    </div>
  </div>

  {% section 'about-featured-slider' %}

  {% section 'about-category-items-icons' %}

  <div class="container">
    <div class="about-featured bottom-feat">
        <div>
          <div class="inner">
          	<h1 class="heading">
              Ce qui nous démarque.
          	</h1>
          	<p>
            	Avec des magasins en Ontario, en Colombie-Britannique et en Alberta, nous sommes une chaîne nationale qui répond aux besoins de la population canadienne vieillissante. Qu’il s’agisse d’apporter des changements à votre maison, de favoriser votre style de vie ou de promouvoir votre bien-être au quotidien, notre personnel serviable en magasin dispose des connaissances et de l’expertise nécessaires pour vous aider à trouver les produits et les services que vous recherchez, et même ceux que vous n’avez peut-être pas encore envisagés.  
				<br /><br />
				La meilleure façon d’en savoir davantage sur ce que nous offrons est de nous contacter. Contactez le magasin le plus près de chez vous dès aujourd’hui afin de parler à un représentant du service clientèle qui se fera un plaisir de vous aider avec vos besoins essentiels en matière de santé et de bien-être.
            </p>
          	<a href="/pages/store-locator" class="button button--primary find-loc">
              Trouver un magasin
          	</a>
          </div>
        </div>
        <div>
          <img src="https://wellwise.s3.amazonaws.com/about/whatmakesusdifferent.png" alt="" class="img" />
        </div>
    </div>
  </div>
  
  <div class="container-wide" style="background: #fff;padding-bottom: 80px;">
    <div class="ww-social container">
		<div>
			<img src="https://wellwise.s3.amazonaws.com/about/weeklyflyer.png" alt="">
			<h2 class="head-title">Consultez notre circulaire hebdomadaire.</h2>
			<p>Découvrez chaque semaine nos plus récentes et excitantes aubaines et offres spéciales dans notre circulaire en ligne pratique. Cliquez sur le bouton ci-dessous pour commencer!</p>
      
      		<a href="/pages/weekly-flyer" class="button button--primary">Voir les aubaines </a>
		</div>
  		<div>
			<img src="https://wellwise.s3.amazonaws.com/about/pc.png" alt="">
          	<h2 class="head-title">Obtenez plus de points PC Optimum<sup>MC</sup>.</h2>
			<p>En magasinant chez wellwise.ca, vous êtes récompensé par des points PC Optimum! Accumulez des points sur la plupart de vos achats en ligne, comme vous le feriez en magasin.</p>
      
      		<a href="https://accounts.pcid.ca/create-account" target="_blank" class="button button--primary">Commencer</a>
		</div>
	</div>
  </div>
</div>

{% section 'collection-list' %}

<div style="width: 100%;height: 100px"></div>

{% style %}
.about-us-wrapper { margin: 0px auto 0; }
	.ww-social { margin-bottom: 100px; }
    .about-us-wrapper .about-featured {
        display: flex;
		margin: 100px auto 0;
    }
	.about-us-wrapper .about-featured.top-feat {
		border-bottom: 1px solid #929292;
		padding-bottom: 100px;
	}
	.about-us-wrapper .about-featured img {
        width: 100%;
        max-width: 720px;
		margin: 0px auto;
		display: block;
    }
	.about-us-wrapper .about-featured > div:nth-child(1) { width: 55%; }
	.about-us-wrapper .about-featured > div:nth-child(2) { width: 45%; }
	.about-us-wrapper .about-featured > div:nth-child(1) .inner { max-width: 86%; }
	.about-us-wrapper .about-featured.bottom-feat {
		margin: 120px auto;
		flex-direction: row-reverse;
	}
	.about-us-wrapper .about-featured.bottom-feat > div:nth-child(1) .inner {
		margin-left: auto;
	}

	.about-us-wrapper .about-featured .button.button--primary.shop-now {
		background: #CB333B;
	}
	.about-us-wrapper .about-featured h1 {
		font-size: 50px;
		line-height: 1.1;
		margin-bottom: 10px;
	}
	.about-us-wrapper .button--primary.find-loc {
		margin: 30px 0 15px;
	}
	.about-us-wrapper .button--primary {
		width: 100%;
		max-width: 300px;
		display: block;
	}
	.about-us-wrapper p {
		color: #002D72;
		font-size: 22px;
		line-height: 1.2;
	}
	.about-us-wrapper .ww-social {
		padding-bottom: 60px;
		margin-bottom: 0px;
	}
.about-cic-container .inner { flex-wrap: wrap; }
	.about-cic-container .inner > div { width: 50%; }
	.about-cic-container .inner > div { border-bottom: 1px solid #D8D8D8 }

@media(max-width: 768px) {
	.about-cic-container .inner > div {
		width: 100%;
	}
	.about-westand-container .fg {
		flex-direction: column;
	}
		.about-westand-container .fg > div {
			width: 100%;
		}
	.about-westand-container .fg > div:nth-child(2) {
		padding-left: 0;
	}
	.about-us-wrapper .about-westand-container h1 {
		font-size: 42px;
	}
	.about-westand-container .fg h2 {
		font-size: 32px;
		line-height: 1;
		margin-top: 20px;
	}
	.about-us-wrapper .about-featured {
		flex-direction: column;
		margin: 40px auto;
	}
	
	.about-us-wrapper .about-featured.bottom-feat {
		flex-direction: column-reverse;
		margin: 40px auto;
	}
		.about-us-wrapper .about-featured.bottom-feat > div:nth-child(2) {
			margin: 0px auto 30px;
		}
		.about-us-wrapper .about-featured.top-feat {
			padding-bottom: 80px;
		}
	.about-us-wrapper .about-featured > div:nth-child(1) .inner,
	.about-us-wrapper .about-featured > div:nth-child(1),
	.about-us-wrapper .about-featured > div:nth-child(2),
	.about-us-wrapper .about-featured .button {
		width: 100%;
		max-width: 100%;
	}
	.about-us-wrapper .about-featured > div:nth-child(2) {
		margin-top: 25px;
	}
	.about-us-wrapper .ww-social {
		padding: 0px 20px 50px;
	}
}


@media (min-width: 768px) and (max-width: 1200px) {
    .about-us-wrapper .about-featured.top-feat .inner {
    	padding-right: 30px;
    }
	.about-us-wrapper  .category-wi-icons .inner {
    	flex-direction: row;
	}
	.about-us-wrapper .about-featured.bottom-feat {
		flex-direction: column-reverse;
		margin: 40px auto;
	}
		.about-us-wrapper .about-featured.bottom-feat > div:nth-child(1) .inner {
			margin-left: auto;
		}
		.about-us-wrapper .about-featured > div:nth-child(1) .inner,
		.about-us-wrapper .about-featured > div:nth-child(1),
		.about-us-wrapper .about-featured > div:nth-child(2) {
			width: 100%;
			max-width: 100%;
		}
		.about-us-wrapper .about-featured > div:nth-child(2) {
			margin-bottom: 30px;
		}
}
{% endstyle %}