<div class="light-ther-wrapper">
  {% section 'light-therapy-category-banner' %}

  {% section 'light-therapy-category-featured-collections' %}

  {% section 'light-therapy-category-items-sponsors' %}

  {% section 'light-therapy-category-items-icons' %}

  {% section 'light-therapy-category-faq' %}
</div>