{% section 'compression-category-banner' %}

{% section 'compression-category-featured-collections' %}

<div class="shopify-section container category-page-section what-compr-sect">
  <h1 class="heading">
    En quoi consiste la compression?
  </h1>
  <p>
    La thérapie par compression applique un type de dispositif élastique (le plus courant étant les chaussettes de compression) sur les membres ou d’autres parties du corps afin de fournir une pression contrôlée. Le dispositif de compression comprime les parois des veines et aide à améliorer le débit circulatoire*.
  </p>
  
  <div class="ww-fg">
    <div>
      <h2 class="heading">
        Voici d’autres avantages de la thérapie par compression :
      </h2>
      <ul>
        <li>Aide à réduire l’enflure des jambes, des chevilles et des pieds</li>
        <li>Soulagement additionnel de l’endolorissement des jambes</li>
        <li>Augmentation de la circulation sanguine</li>
      </ul>
    </div>
    <div>
      <div class="vs-center">
        <h2 class="heading">
          Le saviez-vous? 
        </h2>
        <p>
          Les taux de compression sont mesurés en millimètres de mercure (mm Hg) et séparés par grade.
        </p>
      </div>
    </div>
  </div>
</div>

{% section 'compression-category-featured-items' %}

{% section 'compression-category-items-icons' %}

{% section 'compression-category-items-sponsors' %}

<div class="shopify-section container category-page-section we-carry-sect">
  <h1 class="heading">
    Nous offrons certaines des marques les plus réputées au monde.
  </h1>
  <div class="ww-fg">
    <div>
      <div class="ww-wct-ic">
        <img src="https://wellwise.s3.amazonaws.com/comp-logos/sigvaris.png" alt="" />
      </div>
      <p>
        Les solutions de compression Sigvaris vous offrent un soutien toute la journée. Pour se sentir fort et en sécurité. Ils vous offrent le confort nécessaire pour faire tout ce que vous voulez, et sont adaptés à votre mode de vie.
      </p>
    </div>
    <div>
      <div class="ww-wct-ic">
        <img src="https://wellwise.s3.amazonaws.com/comp-logos/medi.png" alt="" />
      </div>
      <p>
        Chaque personne a des besoins différents, alors nous concevons nos produits pour soutenir ces différences. Grâce à nos connaissances, à notre vision et à nos années d’expérience, nous offrons des produits et des services novateurs convenant à votre style de vie et vous proposant le confort, le soutien et la tranquillité d’esprit que vous méritez vraiment lorsque vous portez des vêtements de compression.
      </p>
    </div>
    <div>
      <div class="ww-wct-ic">
        <img src="https://wellwise.s3.amazonaws.com/comp-logos/jobst.png" alt="" />
      </div>      
      <p>
        Une entreprise spécialisée dans la production de produits de compression médicale destinés aux professionnels de la santé. Notre objectif est d’offrir une vaste gamme de produits à la fois innovateurs, esthétiques et en perpétuelle évolution, répondant aux styles de vie des patients d’aujourd’hui. Nous avons des solutions qui répondent à vos besoins.
      </p>
    </div>
  </div>
</div>

{% section 'compression-category-faq' %}

{% style %}
	.what-compr-sect {
		margin: 0px auto 100px;
	}
	.what-compr-sect > p {
		max-width: 940px;
	}
	.what-compr-sect .ww-fg,
	.we-carry-sect .ww-fg {
		display: flex;
		margin: 40px auto 0;
	}
		.what-compr-sect .ww-fg > div,
        .we-carry-sect .ww-fg > div {
            width: 100%;
			position: relative;
        }
		.what-compr-sect .ww-fg > div:nth-child(1) { width: 58%; }
		.what-compr-sect .ww-fg > div:nth-child(2) { width: 42%; }
		.what-compr-sect .vs-center {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	.what-compr-sect .ww-fg > div {
		background: #fff;
		padding: 60px 50px 30px;
	}
		.what-compr-sect .ww-fg > div:first-child {
			border: 1px solid #B9B9B9;
		}
		.what-compr-sect .ww-fg > div:nth-child(2) {
			background: #C3D7EE;
		}
		.what-compr-sect .ww-fg ul {
			list-style: none;
		}
			.what-compr-sect .ww-fg h2 {
				font-size: 30px;
				line-height: 1.1;
				margin-bottom: 25px;
			}
			.what-compr-sect .ww-fg li,
			.what-compr-sect .ww-fg p {
				font-size: 22px;
				line-height: 1.2;
				color: #002D72;
				margin-bottom: 10px;
			}
            .what-compr-sect .ww-fg li {
                position: relative;
                padding: 0 0 16px 45px;
            }
            .what-compr-sect .ww-fg li:before {
                content: ' ';
                position: absolute;
                top: 0%;
                left: 0%;
                width: 31px;
                height: 31px;
                border-radius: 0;
                border: none;
                background: url('https://wellwise.s3.amazonaws.com/checkmark_icon.png') center center no-repeat;
                background-size: contain;
            }
			.what-compr-sect .ww-fg > div:nth-child(2) h2 {
				position: relative;
				padding-left: 50px;
			}
			.what-compr-sect .ww-fg > div:nth-child(2) h2:before {
				content: ' ';
                position: absolute;
                top: 0%;
                left: 0%;
                width: 35px;
                height: 31px;
				background: url('https://wellwise.s3.amazonaws.com/attn_icon.png') center center no-repeat;
                background-size: contain;
			}
	.we-carry-sect {
		margin: 100px auto 0;
	}
		.we-carry-sect .ww-fg {
			border-top: 60px solid #FEDD00;
			text-align: center;
		}
			.we-carry-sect .ww-fg > div {
				background: #fff;
				border: 1px solid #B9B9B9;
				padding: 25px 4% 75px;
			}
				
			.we-carry-sect .ww-fg > div .ww-wct-ic {
				height: 90px;
				position: relative;
				margin-bottom: 20px;
			}
				.we-carry-sect .ww-fg > div .ww-wct-ic > img {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			.we-carry-sect .ww-fg > div p {
				font-size: 22px;
				line-height: 1.2;
				color: #002D72;
			}
@media(max-width: 768px) {
	.what-compr-sect { margin: 0px auto; }
	.what-compr-sect .ww-fg,
	.we-carry-sect .ww-fg {
		flex-direction: column;
	}
		.we-carry-sect .ww-fg > div {
			padding: 25px 20px 75px;
		}
		.what-compr-sect .ww-fg > div:nth-child(1),
		.what-compr-sect .ww-fg > div:nth-child(2),
		.category-items-container.compression-sect .category-wi-icons .inner > div {
			width: 100%;
		}
		.what-compr-sect .vs-center {
			top: auto;
			transform: none;
		}
		.what-compr-sect .ww-fg,
		.we-carry-sect .ww-fg {
			margin-left: -20px;
			width: calc(100% + 40px);
		}
			.what-compr-sect .ww-fg > div {
				padding: 35px 30px 25px;
			}
}
@media(min-width: 768px) and (max-width: 1200px) {
	.what-compr-sect .ww-fg,
	.we-carry-sect .ww-fg {
		display: flex;
		margin: 40px auto 0;
	}
		.what-compr-sect .ww-fg > div,
        .we-carry-sect .ww-fg > div,
		.category-items-container.compression-sect .category-wi-icons .inner > div {
            width: 100%;
        }
		.we-carry-sect .ww-fg {
			margin-left: -40px;
			width: calc(100% + 80px);

		}
}
{% endstyle %}