{% section 'compression-category-banner' %}

{% section 'compression-category-featured-collections' %}

<div class="shopify-section container category-page-section what-compr-sect">
  <h1 class="heading">
    What is compression?
  </h1>
  <p>
    Compression therapy applies a type of elastic device (the most common being compression socks) on limbs or other body parts to provide a controlled pressure. The compression device squeezes the vein walls together and helps improve the circulatory rate*.
  </p>
  
  <div class="ww-fg">
    <div>
      <h2 class="heading">
        Some additional benefits of compression therapy are:
      </h2>
      <ul>
        <li>Helps reduce swelling in the leg, ankle, and foot</li>
        <li>Additional relief from leg aching</li>
        <li>Increased blood circulation</li>
      </ul>
    </div>
    <div>
      <div class="vs-center">
        <h2 class="heading">
          Did you know?
        </h2>
        <p>
          Levels of compression are measured by millimeters of mercury (mmHg) and separated by grade.
        </p>
      </div>
    </div>
  </div>
</div>

{% section 'compression-category-featured-items' %}

{% section 'compression-category-items-icons' %}

{% section 'compression-category-items-sponsors' %}

<div class="shopify-section container category-page-section we-carry-sect">
  <h1 class="heading">
    We carry some of the world’s most trusted brands.
  </h1>
  <div class="ww-fg">
    <div>
      <div class="ww-wct-ic">
        <img src="https://wellwise.s3.amazonaws.com/comp-logos/sigvaris.png" alt="" />
      </div>
      
      <p>
        Sigvaris compression solutions help you to go easily through your day. To feel strong and secure. They give you the comfort to do everything you want, and they cater to your way of life.
      </p>
    </div>
    <div>
      <div class="ww-wct-ic">
        <img src="https://wellwise.s3.amazonaws.com/comp-logos/medi.png" alt="" />
      </div>
      
      <p>
        Everyone has different needs, so we design our products to support those differences. Our knowledge, insights and years of experience mean that we keep providing innovative products and services that suit your lifestyle, giving you the comfort, support and peace of mind that you truly deserve while wearing compression.
      </p>
    </div>
    <div>
      <div class="ww-wct-ic">
        <img src="https://wellwise.s3.amazonaws.com/comp-logos/jobst.png" alt="" />
      </div>
      
      <p>
        A company specializing in the production of medical compression products to healthcare providers. Our goal has always been to offer a wide range of products both innovative, aesthetic, and evolving that would meet the lifestyles of today’s patients. We have solutions that meet your needs.
      </p>
    </div>
  </div>
</div>

{% section 'compression-category-faq' %}

{% style %}
	.what-compr-sect {
		margin: 0px auto 100px;
	}
	.what-compr-sect > p {
		max-width: 940px;
	}
	.what-compr-sect .ww-fg,
	.we-carry-sect .ww-fg {
		display: flex;
		margin: 40px auto 0;
	}
		.what-compr-sect .ww-fg > div,
        .we-carry-sect .ww-fg > div {
            width: 100%;
			position: relative;
        }
		.what-compr-sect .ww-fg > div:nth-child(1) { width: 58%; }
		.what-compr-sect .ww-fg > div:nth-child(2) { width: 42%; }
		.what-compr-sect .vs-center {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	.what-compr-sect .ww-fg > div {
		background: #fff;
		padding: 60px 50px 30px;
	}
		.what-compr-sect .ww-fg > div:first-child {
			border: 1px solid #B9B9B9;
		}
		.what-compr-sect .ww-fg > div:nth-child(2) {
			background: #C3D7EE;
		}
		.what-compr-sect .ww-fg ul {
			list-style: none;
		}
			.what-compr-sect .ww-fg h2 {
				font-size: 30px;
				line-height: 1.1;
				margin-bottom: 25px;
			}
			.what-compr-sect .ww-fg li,
			.what-compr-sect .ww-fg p {
				font-size: 22px;
				line-height: 1.2;
				color: #002D72;
				margin-bottom: 10px;
			}
            .what-compr-sect .ww-fg li {
                position: relative;
                padding: 0 0 16px 45px;
            }
            .what-compr-sect .ww-fg li:before {
                content: ' ';
                position: absolute;
                top: 0%;
                left: 0%;
                width: 31px;
                height: 31px;
                border-radius: 0;
                border: none;
                background: url('https://wellwise.s3.amazonaws.com/checkmark_icon.png') center center no-repeat;
                background-size: contain;
            }
			.what-compr-sect .ww-fg > div:nth-child(2) h2 {
				position: relative;
				padding-left: 50px;
			}
			.what-compr-sect .ww-fg > div:nth-child(2) h2:before {
				content: ' ';
                position: absolute;
                top: 0%;
                left: 0%;
                width: 35px;
                height: 31px;
				background: url('https://wellwise.s3.amazonaws.com/attn_icon.png') center center no-repeat;
                background-size: contain;
			}
	.we-carry-sect {
		margin: 100px auto 0;
	}
		.we-carry-sect .ww-fg {
			border-top: 60px solid #FEDD00;
			text-align: center;
		}
			.we-carry-sect .ww-fg > div {
				background: #fff;
				border: 1px solid #B9B9B9;
				padding: 25px 4% 75px;
			}
				
			.we-carry-sect .ww-fg > div .ww-wct-ic {
				height: 90px;
				position: relative;
				margin-bottom: 20px;
			}
				.we-carry-sect .ww-fg > div .ww-wct-ic > img {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			.we-carry-sect .ww-fg > div p {
				font-size: 22px;
				line-height: 1.2;
				color: #002D72;
			}
@media(max-width: 768px) {
	.what-compr-sect { margin: 0px auto; }
	.what-compr-sect .ww-fg,
	.we-carry-sect .ww-fg {
		flex-direction: column;
	}
		.we-carry-sect .ww-fg > div {
			padding: 25px 20px 75px;
		}
		.what-compr-sect .ww-fg > div:nth-child(1),
		.what-compr-sect .ww-fg > div:nth-child(2),
		.category-items-container.compression-sect .category-wi-icons .inner > div {
			width: 100%;
		}
		.what-compr-sect .vs-center {
			top: auto;
			transform: none;
		}
		.what-compr-sect .ww-fg,
		.we-carry-sect .ww-fg {
			margin-left: -20px;
			width: calc(100% + 40px);
		}
			.what-compr-sect .ww-fg > div {
				padding: 35px 30px 25px;
			}
}
@media(min-width: 768px) and (max-width: 1200px) {
	.what-compr-sect .ww-fg,
	.we-carry-sect .ww-fg {
		display: flex;
		margin: 40px auto 0;
	}
		.what-compr-sect .ww-fg > div,
        .we-carry-sect .ww-fg > div,
		.category-items-container.compression-sect .category-wi-icons .inner > div {
            width: 100%;
        }
		.we-carry-sect .ww-fg {
			margin-left: -40px;
			width: calc(100% + 80px);

		}
}
{% endstyle %}